{% use "bootstrap_5_layout.html.twig" %}

{% block addressentity_widget %}
<div {{ block('widget_container_attributes') }}>
        {%- for child in form %}
            {% set attr = child.vars.attr %}
            {% set value = child.vars.value %}
            {% set checked = child.vars.checked %}
            {% set label = child.vars.label %}
            {% set full_name = child.vars.full_name %}
            {%- set attr = attr|merge({class: (attr.class|default('') ~ ' form-check-input')|trim}) -%}
            {% set id = name|camelize ~ loop.index %}
            <div class="d-flex justify-content-between">
                <div class="form-check">
                    <input type="radio" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
                    <label class="form-check-label" for="{{ id }}">
                    {{ label|raw }}
                    {{- form_errors(form) -}}
                    </label>
                </div>
                {% if child.vars.value != "" %}
                    {% set entity = form.vars.choices[child.vars.value].data %}
                    <button-action route="tigris_shop_address_remove" class="text-danger" :route-params="{id: {{ entity.id }} }" :modal="true" type="link">{{ 'button.delete'|trans|parse_icons }}</button-action>
                {% endif %}
            </div>
            {% if not loop.last %}
            <hr/>
            {% endif %}
            
            
        {% endfor -%}
    </div>
{% endblock %}

{% block transportEntity_widget %}
    {%- for key, child in form %}
        {% set attr = child.vars.attr %}
        {% set value = child.vars.value %}
        {% set checked = child.vars.checked %}
        {% set label = child.vars.label %}
        {% set full_name = child.vars.full_name %}
        {%- set attr = attr|merge({class: (attr.class|default('') ~ ' form-check-input')|trim}) -%}
        {% set id = name|camelize ~ loop.index %}
        <div class="form-check">
            <input type="radio" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
            <label class="form-check-label" for="{{ id }}">
            {% set entity = form.vars.choices[key].data %}
            {% set price = entity.setOrder(form.vars.order).price %}
            <div class="transport-item">
                <div class="transport-name">{{ entity.name }}</div>
                {% if entity.description is not empty %}
                <span class="description">{{ entity.description }}</span>
                {% endif %}
                <div class="transport-price {% if price == 0 %}free{% endif %}">
                    {% if price > 0 %}{{ price|format_currency("EUR") }}{% else %}{{ "shop.transport.free"|trans }}{% endif %}
                </div>
            </div>
            {{- form_errors(form) -}}
            </label>
        </div>

        {% if not loop.last %}
        <hr/>
        {% endif %}
    {% endfor %}
{% endblock %}

{% block mondialRelayChoice_widget %}
<div class="mondial-relay">
    <div class="loader">
        <div class="spinner-grow text-secondary" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
    <div class="accordion accordion-flush" id="mr-select-point">
    {% for key, child in form %}
    <div class="accordion-item">
    {% set attr = child.vars.attr %}
        {% set value = child.vars.value %}
        {% set checked = child.vars.checked %}
        {% set label = child.vars.label %}
        {% set full_name = child.vars.full_name %}
        {%- set attr = attr|merge({class: (attr.class|default('') ~ ' form-check-input')|trim}) -%}
        {% set id = name|camelize ~ loop.index %}
        {% set point = form.vars.addresses[key] %}
        <h2 class="accordion-header" id="mr-heading-{{ value }}">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#mr-{{ value }}" aria-expanded="false" aria-controls="mr-heading-{{ value }}">
                <div class="form-check w-100">
                    <input type="radio" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
                    <label class="form-check-label d-flex w-100" for="{{ id }}">
                        {{ point.name }} - {{ point.postalCode }} {{ point.city }} <div class="distance ms-auto me-3">{{ '.icon-route'|parse_icons }} {{ point.distance / 1000 }}Km</div>
                    </label>
                </div>
                {{- form_errors(form) -}}
            </button>
        </h2>

        <div id="mr-{{ value }}" class="accordion-collapse collapse" aria-labelledby="mr-heading-{{ value }}" data-bs-parent="#mr-select-point">
            <div class="accordion-body">
                <div class="point-item">
                    <address>
                        <strong>{{ point.name }}</strong><br/>
                        {{ point.address }}<br/>
                        {{ point.postalCode }} {{ point.city }}<br/>
                        <span class="distance">{{ '.icon-route'|parse_icons }} {{ point.distance / 1000 }}Km</span>
                    </address>
                    <div class="opening">
                        <dl class="opening-times">
                        {% for key, day in point.openings %}
                            <dt>{{ key|trans }}</dt>
                            <dd>{% for h in day %}{{ h|replace({':':'h'}) }} {% endfor %}</dd>
                        {% endfor %}
                        </dl>
                        {% if point.holidays is not empty %}
                        <span class="text-warning">{{ point.holidays }}</span>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    </div>
</div>
{% endblock %}

{% block productSelect_widget %}

{% set value = null %}
{% if form.vars.entityData is iterable %}
{% set value = [] %}
{% for entity in form.vars.entityData %}
{% set value = value|merge([{'id': entity.id, 'name': entity.name}]) %}
{% endfor %}
{% endif %}

<dynamic-list-select route="tigris_shop_product_data" id="{{ id }}" name="{{ form.vars.full_name }}" :init-value="{{ value|json_encode  }}"></dynamic-list-select>
{% endblock %}