$color-paypal : #009cde;

#shop {
    .order-addresses {
        h3 {
            font-size: 1.1em;
        }

        margin-bottom: 20px;
        padding: 20px 0;
        border-bottom: solid 1px $gray-300;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
    }

    .order-label {
        font-weight: 7;
        text-transform: uppercase;
    }

    .shop-basket {
        .basket-items {
            .basket-item {
                border-bottom: solid 1px $gray-300;
                padding: 15px 5px;
                margin-bottom: 15px;

                .product-image {
                    max-width: 120px;
                }
            }
        }
    }

    .original-price {
        text-decoration: line-through;
    }

    .product {
        display: flex;
        justify-content: stretch;

        header {
            padding: 4px 15px;

            img {
                border: 1px solid $gray-400;
                display: block;
            }
        }

        .product-content {
            padding: 4px 15px;

            .price {
                font-size: 2em;
            }

            .product-description {
                margin: 20px 0;
            }
        }
    }

    .shop-filter-sort {
        border-bottom: solid 1px $gray-200;
        margin-bottom: 15px;

        .form-group {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            margin-bottom: 2px;

            label {
                margin: 0;
                padding-right: 10px;
            }

            .form-control {
                width: auto;
            }

            .dropdown-menu {
                left: auto !important;
                right: 0;
            }
        }

        .ss-main {
            max-width: 260px;
        }
    }

    .shop-article {
        display: flex;
        align-items: stretch;
        justify-content: center;
        flex-wrap: wrap;
        max-width: 100%;

        .shop-product {
            margin: 0 0 20px 0;
            padding: 8px 4px;
            flex-basis: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            @include media-breakpoint-up(lg) {
                flex-basis: 25%;
                width: 25%;
            }

            header {
                img {
                    max-width: 100%;
                    display: block;
                    margin: auto;
                }
            }
        }
    }

    .discount {
        .old-price {
            .price {
                font-size: 1em;
                text-decoration: line-through;
            }
        }

        .new-price {
            .price {
                color: $red;
                font-weight: bold;
            }
        }

        .value {
            .price {
                font-size: 1.2em;
                color: $red;
            }
        }
    }
}

.btn-paypal {
    background-color: $color-paypal;
    color: $light;

    &:hover,
    &:focus,
    &:active,
    &:active:hover,
    &.active:hover {
        background-color: lighten($color-paypal, 10%);
        color: $light;
    }
}

.transport-item {
    .transport-name {
        font-weight: bold;
    }

    .transport-price {
        font-style: italic;

        &.free {
            color: $primary;
        }
    }
}

.shop-filters {
    label {
        display: flex;
        justify-content: space-between;

        span {
            &:after {
                content: ' €';
            }
        }
    }
}

.mondial-relay {
    max-height: 50vh;
    overflow-y: auto;
    padding-left: 4px;
    margin-top: 6px;
    position: relative;

    .loader {
        height: 100%;
        justify-content: center;
        align-items: center;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        display: none;

        .visually-hidden {
            display: none;
        }
    }

    &.loading {
        .loader {
            display: flex;
        }

        .custom-control {
            opacity: 0.4;
        }
    }

    .point-item {
        display: flex;
        justify-content: stretch;

        address {
            flex-basis: 33%;
            flex-shrink: 50%;
            min-width: 33%;
        }
    }

    .opening-times {
        display: flex;
        flex-wrap: wrap;
        margin-left: 15px;
        font-size: 0.9em;

        dt {
            flex-basis: 25%;

        }

        dd {
            flex-basis: 75%;
            margin: 0;
        }

        &:nth-child(4n) {
            background-color: #ccccccaa;
        }
    }
}

.mondial-relay-address {
    background-image: url("../img/mondial-relay-logo.png");
    background-repeat: no-repeat;
    background-size: 80px;
    min-height: 80px;
    padding-left: 90px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#order-messages {
    margin-bottom: 15px;

    .order-message {
        display: flex;
        margin-bottom: 8px;

        .order-message-author {
            flex-basis: 25%;
            padding: 8px 15px;
        }

        .order-message-content {
            padding: 8px 15px;
        }

        &:nth-child(odd) {
            background-color: rgba(0, 0, 0, 0.1);
        }
    }
}