{% extends app.request.xmlHttpRequest 
    ? '@TigrisBase/admin/ajax-layout.html.twig'
    : '@TigrisBase/admin/layout.html.twig' %}
{% block main %}
    {% embed '@TigrisBase/decorators/_form.html.twig' with {'class': ''} %}
        {% block title %}{{ 'shop.order.available.title'|trans }}{% endblock %}
        {% block body %}<p>{{ 'shop.order.available.message'|trans }}</p>{% endblock %}
    {% endembed %}
{% endblock %}