{% extends app.request.xmlHttpRequest ? '@TigrisBase/admin/ajax-layout.html.twig': '@TigrisBase/admin/layout.html.twig' %}
{% block main %}
    {% embed '@TigrisBase/decorators/_form.html.twig' with {'type': 'danger'} %}
        {% block title %}{{ 'shop.order.cancel.title'|trans }}{% endblock %}
        {% block body %}<p>{{ 'shop.order.cancel.message'|trans }}</p>{% endblock %}
    {% endembed %}
{% endblock %}