{% extends '@TigrisBase/admin/layout.html.twig' %}
{% block title %}{{ 'shop.order.title'|trans }}{% endblock %}
{% block main %}
<div id="shop">
    <tigris-data-list route="tigris_shop_admin_order_data" :init-filters="{'search':'', 'status':'valid', 'paymentStatus': 'paid', 'deliveryStatus':'all', 'transport':'', showCanceled:false}" v-slot="{loadData, entities, filters, totalCount, begin, end, sort}">
    {% embed '@TigrisBase/decorators/_card.html.twig' with {'class': ''} %}
    {% block body %}
        <form class="d-flex justify-content-between" action="" method="get">
            <div class="d-flex">
                <div class="form-group me-2">
                    <label class="form-label"><small>{{ 'shop.order.payment_status'|trans }}</small></label>
                    <select class="form-control selectpicker" v-model="filters.paymentStatus">
                        <option value="all" data-content='{{ 'shop.order.status.all'|trans|parse_icons }}'>{{ 'shop.order.status.all'|trans|parse_icons }}</option>
                        <option value="paid" data-content='{{ 'shop.order.status.paid'|trans|parse_icons }}'>{{ 'shop.order.status.paid'|trans|parse_icons }}</option>
                        <option value="unpaid" data-content='{{ 'shop.order.status.unpaid'|trans|parse_icons }}'>{{ 'shop.order.status.unpaid'|trans|parse_icons }}</option>
                    </select>
                </div>
                <div class="form-group me-2">
                    <label class="form-label"><small>{{ 'shop.order.shipping_status'|trans }}</small></label>
                    <select class="form-control selectpicker" v-model="filters.deliveryStatus">
                        <option value="all" data-content='{{ 'shop.order.status.all'|trans|parse_icons }}'>{{ 'shop.order.status.all'|trans }}</option>
                        <option value="shipping" data-content='{{ 'shop.order.status.shipping'|trans|parse_icons }}'>{{ 'shop.order.status.shipping'|trans }}</option>
                        <option value="shipped" data-content='{{ 'shop.order.status.shipped'|trans|parse_icons }}'>{{ 'shop.order.status.shipped'|trans }}</option>
                        <option value="available" data-content='{{ 'shop.order.status.available'|trans|parse_icons }}'>{{ 'shop.order.status.available'|trans }}</option>
                    </select>
                </div>
                <div class="form-group ms-2">
                    <label class="form-label"><small>{{ 'shop.order.status.canceled'|trans }}</small></label>
                    <div class="form-check form-switch">
                        <input type="checkbox" class="form-check-input" id="order-canceled-toggle" v-model="filters.showCanceled">
                        <label class="form-check-label" for="order-canceled-toggle"></label>
                    </div>
                </div>
                {#{% if transports is not empty %}
                <div class="form-group me-2">
                    <label class="form-label"><small>{{ 'shop.order.transport'|trans }}</small></label>
                    <select class="form-control selectpicker" v-model="filters.transport">
                        <option value="">{{ 'all'|trans }}</option>
                        {% for transport in transports %}
                        <option value="{{ transport.id }}">{{ transport }}</option>
                        {% endfor %}
                    </select>
                </div>
                {% endif %}#}
        </div>
        <div class="form-group">
            <label><small>{{ 'results_per_page'|trans }}</small></label>
            <item-count-select></item-count-select>
        </div>
    </form>
    
    {% endblock %}

    {% block table %}
    <div>

    </div>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th><sort-item label="#" value="id" @change="sort"></sort-item></th>
                    <th><sort-item label="{{ 'shop.order.date'|trans }}" value="createdAt" @change="sort"></sort-item></th>
                    <th><sort-item label="{{ 'shop.order.name'|trans }}" value="name" @change="sort"></sort-item></th>
                    <th>{{ 'shop.order.total'|trans }}</th>
                    <th>{{ 'shop.order.status.label'|trans }}</th>
                    <th>{{ 'shop.order.payment_status'|trans }}</th>
                    <th>{{ 'shop.order.shipping_status'|trans }}</th>
                    <th>{{ 'shop.order.transport'|trans }}</th>
                    <th>{{ 'actions'|trans }}</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="entity in entities" :key="entity.id">
                    <td>${ entity.formattedNumber }</td>
                    <td>${ $filters.formatDate(entity.createdAt) }</td>
                    <td>
                        <button-action v-if="entity.user" route="tigris_base_admin_user_show" :route-params="{id:entity.user.id}" :modal="true">
                            <span v-if="entity.user.fullName">${ entity.user.fullName }</span>
                            <span v-if="!entity.user.fullName">${ entity.user.username }</span>
                        </button-action>
                    </td>
                    <td>${ $filters.currency(entity.price) }</td>
                    <td :class="'text-bg-'+entity.status.colorType">
                        <span v-if="entity.status !== null">${entity.status.trans}</span>
                        <button-action class="text-light" route="tigris_shop_admin_order_statuses" :route-params="{id: entity.id}" type="link" :modal="true" title="{{ 'shop.order.status.history'|trans }}">{{ '.icon-history'|parse_icons }}</button-action>
                    </td>
                    <td :class="'text-bg-'+entity.paymentStatus.colorType">
                        <span v-if="entity.paymentStatus !== null">${entity.paymentStatus.trans}</span>
                    </td>
                    <td :class="'text-bg-'+ entity.deliveryStatus.colorType">
                    <span v-if="entity.deliveryStatus !== null">${entity.deliveryStatus.trans}</span>
                    </td>
                    <td>
                        <span v-if="entity.transport != null">${entity.transport.name}</span>
                    </td>
                    <td>
                        <div class="btn-group btn-group-sm">
                            <button-action route="tigris_shop_admin_order_show" :route-params="{id:entity.id}" type="light" :modal="false" title="{{ 'button.infos'|trans }}">{{ '.icon-eye'|parse_icons }}</button-action>
                            <button-action route="tigris_shop_admin_order_shipp" @formsaved="loadData()" :route-params="{id:entity.id}" type="light" :modal="true" v-if="entity.deliveryStatus.status != 'shipped' && entity.transport && entity.transport.type != 'collect'" title="{{ 'shop.order.shipp.title'|trans }}">{{ '.icon-shipping-fast'|parse_icons }}</button-action>
                            <button-action route="tigris_shop_admin_order_paid" @formsaved="loadData()" :route-params="{id:entity.id}" type="light" :modal="true" v-if="!entity.isPaid" title="{{ 'shop.order.paid.title'|trans }}">{{ '.icon-money-check-edit-alt'|parse_icons }}</button-action>
                            <button-action route="tigris_shop_admin_order_available" @formsaved="loadData()" :route-params="{id:entity.id}" type="light" :modal="true" v-if="entity.deliveryStatus.status != 'available' && entity.transport && entity.transport.type == 'collect'" title="{{ 'shop.order.available.title'|trans }}">{{ '.icon-shopping-bag'|parse_icons }}</button-action>
                            <button-action route="tigris_shop_admin_order_valid" @formsaved="loadData()" :route-params="{id:entity.id}" type="success" :modal="true" v-if="(entity.status.status == 'open' || entity.status.status == 'confirmed' || entity.isCanceled) && entity.isPaid" title="{{ 'shop.order.valid.title'|trans }}">{{ '.icon-check'|parse_icons }}</button-action>
                            <button-action route="tigris_shop_admin_order_cancel" @formsaved="loadData()" :route-params="{id:entity.id}" type="danger" :modal="true" v-if="!entity.isCanceled" title="{{ 'shop.order.cancel.title'|trans }}">{{ '.icon-ban'|parse_icons }}</button-action>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    {% endblock %}

    {% block footer %}
    <div class="data-list-footer">
        <div>
            <em>{{ 'data_count'|trans({'%begin%':'${begin}', '%end%':'${end}', '%total%':'${totalCount}'}) }}</em>
        </div>
        <pagination></pagination>
    </div>
    {% endblock %}
    {% endembed %}
    </tigris-data-list>
</div>
{% endblock %}