{% extends app.request.xmlHttpRequest 
    ? '@TigrisBase/admin/ajax-layout.html.twig'
    : '@TigrisBase/admin/layout.html.twig' %}
{% block main %}
    {% embed '@TigrisBase/decorators/_form.html.twig' with {'class': ''} %}
        {% block title %}{{ 'shop.order.shipp.title'|trans }}{% endblock %}
        {% block body %}
            {{ form_row(form.shippingService) }}
            {{ form_row(form.trackingNumber) }}
        {% endblock %}
    {% endembed %}
{% endblock %}