{% extends '@TigrisBase/admin/layout.html.twig' %}
{% block title %}{{ 'shop.order.number'|trans({'%n%': entity.formattedNumber }) }}{% endblock %}
{% block main %}
<div id="shop">
{% include '@TigrisShop/order/_details.html.twig' with {"returnRoute": "tigris_shop_admin_order_index"} %}
{% include '@TigrisShop/order_message/_list.html.twig' %}
</div>
{% endblock %}