{% extends app.request.xmlHttpRequest ? '@TigrisBase/admin/ajax-layout.html.twig': '@TigrisBase/admin/layout.html.twig' %}
{% block main %}
    {% embed '@TigrisBase/decorators/_card.html.twig' with {} %}
        {% block header %}{{ 'shop.order.status.statuses'|trans }}{% endblock %}
        {% block body %}
            <ul class="list-group">
            {% for status in entity.statuses %}
                <li class="list-group-item d-flex flex-wrap align-items-center">
                    <div class="w-25">{{ status.createdAt|format_datetime('full', 'short') }}</div>
                    <div class="w-25">{{ ('shop.order.status.' ~ status.type)|trans }}</div>
                    <div class="badge badge-{{ status.colorType }}">{{ ('shop.order.status.' ~ status.status)|trans }}</div>
                </li>
            {% endfor %}
            </ul>
        {% endblock %}
    {% endembed %}
{% endblock %}