{% extends app.request.xmlHttpRequest ? '@TigrisBase/admin/ajax-layout.html.twig': '@TigrisBase/admin/layout.html.twig' %}
{% block main %}
    {% embed '@TigrisBase/decorators/_form.html.twig' with {} %}
        {% block title %}{{ 'shop.order.valid.title'|trans }}{% endblock %}
        {% block body %}<p>{{ 'shop.order.valid.message'|trans }}</p>{% endblock %}
    {% endembed %}
{% endblock %}