<script>
export default {
    props: {
        token: {
            type: String,
        },

        orderId: {
            type: Number,
        }
    },
    data() {
        return {
            content: '',
            isValid: false,
        }

    },

    watch: {
        content(value) {
            this.isValid = value.length > 3
        }
    },

    methods: {
        submit(e) {
            e.preventDefault()

            if (!this.isValid) {
                return
            }

            this.$http.post(Routing.generate('tigris_shop_ordermessage_new', { id: this.orderId }), { content: this.content, _token: this.token }).then(response => {
                if (response.data.status === 'success') {
                    this.$emit('postSuccess')
                    Tigris.alert().success(response.data.message);
                    this.content = ''
                }
            })
        }
    }
}
</script>

<template>
    <form action="" method="post" @submit="submit">
        <textarea name="orderMessage['content']" rows="3" class="form-control content-input" v-model="content"></textarea>
        <button type="submit" v-html="$filters.trans('btn.send')" class="btn btn-primary" :disabled="!isValid"
            :class="{ disabled: !isValid }"></button>
    </form>
</template>

<style>
.content-input {
    margin-bottom: 0.6em;
}
</style>