<div class="product-categories">
    {% for entity in entities %}
    <div class="card" style="width: 18rem;">
        {% if entity.image is not empty %}
        <img class="card-img-top" src="{{ entity.image.webPath('thumbnail') }}" alt="{{ entity.name }}">
        {% endif %}
        <div class="card-body">
            <h5 class="card-title">{{ entity.name }}</h5>
            <p class="card-text">{{ entity.description }}</p>
        </div>
    </div>
    {% endfor %}
</div>