<script>
export default {
    data: () => {
        return {
            code: "",
            isValid: null,
            validationMessage: "",
            isLoading: false,
        };
    },

    created: () => {},

    methods: {
        onValid(event) {
            event.preventDefault();
            this.isLoading = true;
            let url = Routing.generate("tigris_shop_discount_checkcode", {
                code: this.code,
            });
            this.$http.get(url).then((response) => {
                this.isLoading = false;
                this.isValid = response.data.result;
                this.validationMessage = response.data.reason;
                if (response.data.result) {
                    location.reload();
                } else {
                }
            });
        },
    },
};
</script>

<template>
    <div id="shop-discount-code-enter">
        <div>
            <div
                class="input-group"
                :class="{ 'is-invalid': isValid === false }"
            >
                <input
                    type="text"
                    class="form-control"
                    v-model="code"
                    :class="{ 'is-invalid': isValid === false }"
                />
                <button
                    type="button"
                    class="btn btn-outline-secondary"
                    v-on:click="onValid"
                    :disabled="isLoading"
                >
                    <i
                        class="fa-check"
                        v-if="!isLoading"
                        :class="'fa' + iconStyle"
                    ></i>
                    <i
                        class="fa-spinner fa-pulse fa-spin-pulse"
                        v-if="isLoading"
                        :class="'fa' + iconStyle"
                    ></i>
                </button>
            </div>
            <div class="invalid-feedback" v-if="validationMessage.length > 0">
                {{ validationMessage }}
            </div>
        </div>
    </div>
</template>