<script>
export default {
    delimiters: ["${", "}"],
    data() {
        return {
            changeUrl: "tigris_shop_basket_giftwrappingoption",
            enabled: false,
        };
    },

    props: {
        id: {
            type: Number,
            required: true,
        },

        csrf: {
            type: String,
        },

        initEnabled: {
            type: Boolean,
            required: false,
            default: false,
        },
    },

    created() {
        this.enabled = this.initEnabled;
    },

    methods: {
        onChange() {
            let url = Routing.generate(this.changeUrl, {
                id: this.id,
            });

            this.$http
                .post(url, { _token: this.csrf, enable: this.enabled })
                .then((response) => {
                    Tigris.alert()
                        .create(response.data.message, response.data.status)
                        .life(2000);
                });
        },
    },
};
</script>

<template>
    <div class="form-check form-check">
        <input class="form-check-input form-check-input" type="checkbox" value="" :id="'gift-wrapping-product-' + id"
            v-on:change="onChange" v-model="enabled" />
        <label class="form-check-label form-check-label" :for="'gift-wrapping-product-' + id">
            <slot></slot>
        </label>
    </div>
</template>

<style scoped>
.form-check {
    margin-top: 18px;
}
</style>