<script>
import TigrisEvents from '../../../tigris-base-bundle/assets/js/tigris-events';
export default {
    delimiters: ["${", "}"],
    data: () => {
        return {
            btnUrl: Routing.generate("tigris_shop_basket_index"),
            iconStyle: iconStyle,
            counter: 0,
        };
    },

    created() {
        document.addEventListener(TigrisEvents.AJAX_CRON, (params, data) => {
            if (typeof data.shopBasketCounter !== 'undefined') {
                this.counter = data.shopBasketCounter;
            }
        });
    },
};
</script>

<template>
    <a :href="btnUrl" id="shop-basket-button" class="shop-basket-button">
        <i class="fa-shopping-cart" :class="'fa' + iconStyle"></i>
        <slot></slot>
        <span class="badge bg-primary" v-if="counter > 0">{{
            counter
        }}</span>
    </a>
</template>

<style scoped>
    .shop-basket-button {
        border: none;
        background: none;
        margin: 0 0.5em;
    }
</style>