<script>
export default {
    /*    props: {
            defaultCountry: {
                type: String,
            },
            defaultPostal: {
                type: String,
            },
            defaultCity: {
                type: String,
            },
        },
    */
    data() {
        return {
            city: '',
            postal: '',
            country: '',
            results: [],
        };
    },

    methods: {
        search() {
            this.$http.get(Routing.generate('tigris_shop_mondialrelay_search', {
                country: this.country,
                postal: this.postal,
                city: this.city
            })).then(response => {
                if (response.data.status === 'success') {
                    this.results = response.data.results
                }
            })
        }
    }
}
</script>

<template><slot :results="results" :search="search"></slot></template>