{% extends '@TigrisBase/layout.html.twig' %}

{% block title %}{{ 'shop.order.number'|trans({'%n%': order.formattedNumber }) }}{% endblock %}
{% block main %}
{% embed '@TigrisBase/decorators/_card.html.twig' with {} %}
        {% block header %}<h4>{{ 'shop.transport.tracing.btn'|trans|parse_icons }}</h4>{% endblock %}
        {% block body %}
            {% if tracing is not empty %}
            <ul class="list-group">
            {% for event in tracing.events %}
                <li class="list-group-item d-flex flex-wrap align-items-center">
                    <div class="w-25">{{ event.date|format_datetime('full', 'short') }}</div>
                    <div class="w-75">{{ event.description }}</div>
                </li>
            {% endfor %}
            </ul>
            {% endif %}
        {% endblock %}
    {% endembed %}
{% endblock %}