{% set noDiscount = true %}
{% if entity.discounts is not empty %}
<div class="discount">
{% for discount in entity.discounts %}
{% if discount.isValid(entity, app.user) %}
    {% set noDiscount = false %}
    {% if loop.first %}
    <div class="old-price">{{ 'shop.discount.old_price'|trans }}: <span class="price">{{ entity.price|format_currency("EUR") }}</span></div>
    <div class="new-price">{{ 'shop.discount.new_price'|trans }}: <span class="price">{{ entity.price(true, app.user)|format_currency("EUR") }}</span></div>
    {% endif %}
    {% if discount.type == constant('DISCOUNT_TYPE_PERCENT', discount) %}
    <div class="value">{{ 'shop.discount.discount'|trans }}: <span class="price">{{ (discount.getDiscount(entity, app.user))|format_currency("EUR") }}({{ discount.value }}%)</span></div>
    {% else %} 
    -{{ discount.value|format_currency("EUR") }}
    {% endif %}

{% endif %}
{% endfor %}
</div>
{% else %}
{% set noDiscount = true %}
{% endif %}

{% if noDiscount %}
    {% if entity.originalPrice is not empty and entity.originalPrice > entity.price %}
    <span class="original-price">{{ entity.originalPrice|format_currency("EUR") }}</span>
    {% endif %}
    <span class="price">{{ entity.price|format_currency("EUR") }}</span>
{% endif %}