{% if entity.productFiles is not empty %}
<div class="list-group">
{% for productFile in entity.productFiles %}
    <a href="{{ path('tigris_base_file_download', {'slug': productFile.file.slug, '_format': productFile.file.ext}) }}" class="list-group-item list-group-item-action">
        <div class="d-flex">
            <div>
                {{ productFile.file.name }}<br/>
                <small>{{ productFile.file.sizeString }}</small>
            </div>

            <div class="pl-4">
                {{ productFile.description|nl2br }}
            </div>
        </div>
        
    </a>
{% endfor %}
</div>
{% endif %}