{% set validDiscount = false %}
{% if entity.discounts is not empty %}
    <div class="discount">
    {% for discount in entity.discounts %}
        {% if discount.isValid(entity, app.user) %}
            {% if loop.first %}
            <div class="old-price"><span class="price">{{ entity.price|format_currency("EUR") }}</span></div>
            <div class="new-price"><span class="price">{{ entity.price(true, app.user)|format_currency("EUR") }}</span></div>
            {% endif %}
            {% if discount.type == constant('DISCOUNT_TYPE_PERCENT', discount) %}
             (-{{ discount.value }}%)
            {% else %} 
            (-{{ discount.value|format_currency("EUR") }})
            {% endif %}
            {% set validDiscount = true %}
        {% else %}
            {% if product.originalPrice is not empty and product.originalPrice > product.price %}
                <span class="original-price">{{ product.originalPrice|format_currency("EUR") }}</span>
            {% endif %}
            
        {% endif %}
    {% endfor %}
    </div>
    
{% endif %}

{% if not validDiscount %}
<span class="price">{{ product.price|format_currency("EUR") }}</span>
{% endif %}