<div class="shop-product">
    <header>
        {% if product.image is not empty %}
            <img src="{{ asset(product.image.webPath) }}" alt="{{ product.name }}">
        {% endif %}
        <h3><a href="{{ path('tigris_shop_product_show', {"slug": product.slug}) }}">{{ product.name }}</a></h3>
        
        {{ include("@TigrisShop/product/_preview_discount.html.twig",{"entity": product}) }}
    </header>
    
    <footer>
        <div class="product-actions">
            {% if is_granted('buy', product) %}
            {% if product.isPreOrder %}
            <div class="pre-order">{{ 'shop.product.pre_order'|trans }}</div>
            {% endif %}
            <a href="{{ path('tigris_shop_basket_add', {'id' : product.id }) }}" class="btn btn-xl btn-primary">{{ 'shop.action.add_to_basket'|trans|parse_icons }}</a>
            {% else %}
                <span class="text-danger">{{ 'shop.product.unavailable'|trans }}</span>
            {% endif %}
        </div>
    </footer>
</div>