{% import '@TigrisBase/utils/facebook.html.twig' as facebookUtils %}
{% extends '@TigrisBase/layout.html.twig' %}
{% block title %}{{ entity.name|raw }} - {{ parent() }} {% endblock %}
{% block main %}
<div id="shop">
    <article class="product">
        <header class="product-header">
        {% block product_header %}
        {% if entity.images is not empty %}
            <div class="gallery">
                {% for productImage in entity.productImages %}
                <a href="{{ asset(productImage.image.webPath) }}" class="photo"><img src="{{ asset(productImage.image.webPath('thumbnail')) }}" alt="{{ entity.name }} photo {{ loop.index }}"></a>
                {% endfor %}
            </div>
        {% endif %}
        {% endblock %}
        </header>
        <div class="product-content">
            {% block product_content %}
            <h1>{{ entity.name }}</h1>
            
            {{ include("@TigrisShop/product/_discount.html.twig") }}
            <div class="product-description">{{ entity.description|raw }}</div>
            <div class="product-actions">
                {% if entity.isPreOrder %}
                <div class="pre-order">{{ 'shop.product.pre_order_date_message'|trans({'%date%': entity.availableDate|format_date}) }}</div>
                {% endif %}
                {% if is_granted('buy', entity) %}
                <form action="{{ path('tigris_shop_basket_add', {'id' : entity.id }) }}" method="get" id="add-to-basket-form">
                    <div class="d-flex align-items-center">
                        <div class="form-group me-2">
                            <input class="form-control" type="number" value="1" name="quantity" min="1" max="{{ min(5, entity.quantity) }}">
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-xl btn-primary btn-add-basket">
                                {{ 'shop.action.add_to_basket'|trans|parse_icons }}
                            </button>
                        </div>
                    </div>
                </form>
                
                {% else %}
                    <span class="text-danger">{{ 'shop.product.unavailable'|trans }}</span>
                {% endif %}

                {% include '@TigrisShop/product/_files.html.twig' %}
            </div>
        {% endblock %}
        </div>
    </article>
</div>

{% endblock %}

{% block javascripts %}
{{ parent() }}
{% if facebookUtils.viewContent is defined -%}
{{ facebookUtils.viewContent('product', [entity.id], entity.name|escape('js') , '', entity.price, 'EUR') }}

<script>
window.addEventListener('load', () => {
    if (typeof fbq === 'function') {
        let basketBtn = document.querySelector('.btn-add-basket');
        if( null !== basketBtn) {
            basketBtn.addEventListener('click', () => {
                fbq('track', 'AddToCart', {
                    value: {{ entity.price }},
                    currency: 'EUR',
                    content_type: 'product',
                    content_ids: {{ entity.id }},
                    content_name: '{{ entity.name|escape('js') }}',
                });
            });
        }
    }
});

</script>
{% endif %}
{% endblock %}