{% extends '@TigrisBase/layout.html.twig' %}

{% block main %}
<div class="card">
    <div class="card-body">
        <div class="h1 text-danger">{{ 'shop.purchase.cancel.title'|trans|parse_icons }}</div>
        <p>{{ 'shop.purchase.cancel.message'|trans }}</p>
    </div>
</div>
{% endblock %}