{% extends '@TigrisBase/layout.html.twig' %}
{% block main %}
<div id="shop">
    <h1>{{ 'shop.purchase.delivery.title'|trans }}</h1>
    {% embed '@TigrisBase/decorators/_form.html.twig' with {'class': ''} %}
    
    {% endembed %}
</div>
{% endblock %}