{% extends '@TigrisBase/layout.html.twig' %}

{% block main %}
<div class="card">
    <div class="card-body">
        <div class="h1 text-success">{{ 'shop.purchase.finished.title'|trans|parse_icons }}</div>
        <p>{{ 'shop.purchase.finished.success'|trans }}</p>
        <a href="{{ path('tigris_shop_order_show', {'id': order.id }) }}" class="btn btn-primary">{{ 'shop.order.show'|trans|parse_icons }}</a>
    </div>
</div>
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script>
if (typeof fbq === 'function') {
    fbq('track', 'Purchase', {
        value: {{ order.price }},
        currency: 'EUR',
    });
}

</script>
{% endblock %}