{% extends app.request.xmlHttpRequest 
    ? '@TigrisBase/ajax-layout.html.twig'
    : '@TigrisBase/layout.html.twig' %}
{% block main %}
<div id="shop">
    <h1>{{ 'shop.purchase.address'|trans }}</h1>
    {% embed '@TigrisBase/decorators/_form.html.twig' with {'class': ''} %}
        {% block body %}
        <div class="row">
            <div class="col-md-5">
                <div id="purchase-addresses">
                    {{ form_row(form.addresses) }}
                </div>
            </div>

            <div class="col-md-7">
                <div id="purchase-new-address">
                {% if form.address is defined %}
                {% include '@TigrisShop/address/_form.html.twig' with {'form': form.address} %}
                {% endif %}
                </div>
            </div>
        </div>
        {% endblock %}
    {% endembed %}
</div>
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script>
window.addEventListener('load', () => {  
    const els = document.querySelectorAll('#purchase-new-address input, #purchase-new-addresses select');
    const radios = document.querySelectorAll('#purchase-addresses input[type="radio"]');
    for(const radio of radios) {
        radio.addEventListener('change', (e) => {
            if (e.target.checked && e.target.id == 'addresses1') {
                els.forEach(function(item) {
                    item.removeAttribute('disabled');
                });
            } else {
                els.forEach(function(item) {
                    item.setAttribute('disabled', true);
                });
            }
        })
    }
})  

</script>
{% endblock %}