{% extends '@TigrisBase/layout.html.twig' %}
{% block main %}
<div id="shop">
    <h1>{{ 'shop.pay_at_shop.title'|trans }}</h1>
    {% embed '@TigrisBase/decorators/_form.html.twig' with {'class': ''} %}
    {% block body %}
    {{ 'shop.pay_at_shop.message'|trans({'%amount%': (order.price|format_currency('EUR'))})|raw }}
    {% endblock %}
    {% endembed %}
</div>
{% endblock %}