{% extends app.request.xmlHttpRequest 
    ? '@TigrisBase/ajax-layout.html.twig'
    : '@TigrisBase/layout.html.twig' %}

{% block header %}
{% endblock %}

{% block body %}
<div class="d-flex">
    <div class="text-center justify-content-center align-items-center">
        <p class="lead display-4">{{ 'shop.payment.payment_redirection'|trans }}</p>
        <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
        </div>

        <form action="{{ url }}" method="post">
        {% for name, value in fields %}
            <input type="hidden" name="{{ name }}" value="{{ value }}">
        {% endfor %}
        </form>
    </div>
</div>
{% endblock %}

{% block footer %}
{% endblock %}

{% block javascripts %}
<script>
window.setTimeout(()=>{
    let form = document.querySelector("form");
    form.submit();
},2000);
</script>
{% endblock %}