{% extends app.request.xmlHttpRequest 
    ? '@TigrisBase/ajax-layout.html.twig'
    : '@TigrisBase/layout.html.twig' %}
{% block main %}
<div id="shop">
    <h1>{{ 'shop.purchase.summary'|trans }}</h1>
    {% embed '@TigrisBase/decorators/_card.html.twig' %}
    {% block body %}
        <div class="order-addresses">
            {% if basket.orderAddress is not empty %}
            <div class="invoice-address">
                <h3>{{ 'shop.purchase.address'|trans }}</h3>
                {{ basket.orderAddress.toHtml|raw }}
            </div>
            {% endif %}
            {% if basket.shippingAddress is not empty %}
            <div class="shipping-address">
                <h3>{{ 'shop.purchase.shipping_address'|trans }}</h3>
                {{ basket.shippingAddress.toHtml|raw }}
            </div>
            {% endif %}
        </div>
        {% for basketProduct in basket.basketProducts %}
            {% if basketProduct.quantity > 0 %}
            <div class="row mt-4 order-item">
                <div class="col-8">
                    <div class="product-title">{{ basketProduct.product.name }}</div>
                    
                    {{ 'shop.product.price'|trans }}: {{ basketProduct.product.price|format_currency("EUR") }}<br/>
                    {{ 'shop.basket.quantity'|trans }}: {{ basketProduct.quantity }}
                </div>
                <div class="col-4 text-end">
                    {{ basketProduct.price|format_currency("EUR") }}
                </div>
            </div>
            {% if basketProduct.product.discounts is not empty %} 
            {% for discount in basketProduct.product.discounts %}
                {% if discount.isValid(basketProduct.product, app.user) %}
                <div class="row">
                    <div class="col-8">
                        <div class="product-title">{{ 'shop.discount.discount'|trans }}: {{ discount.name }}</div>
                    </div>
                    <div class="col-4 text-end">
                        -{{ (discount.getDiscount(basketProduct.product, app.user) * basketProduct.quantity)|format_currency("EUR") }}
                    </div>
                </div>
                {% endif %}
            {% endfor %}
            {% endif %}

            {# GIFT WRAPPING OPTION #}
            {% if is_granted(constant('Tigris\\ShopBundle\\Security\\ShopVoter::GIFT_WRAPPING_OPTION')) and basketProduct.giftWrappingOption %}
            <div class="row">
                <div class="col-8">
                    {{ 'shop.gift.gift_options'|trans|parse_icons }}                
                </div>
                <div class="col-4 text-end">
                    {{ basketProduct.giftWrappingPrice|format_currency("EUR") }}
                </div>
            </div>
            {% endif %}
            {# /GIFT WRAPPING OPTION #}
            {% endif %}
                {% if loop.last %}
                <hr/>
                {% if basket.order.discounts is not empty %} 
                <div class="row">
                    {% for discount in basket.order.discounts %}
                    <div class="col-8">
                        <div class="product-title">{{ 'shop.discount.discount'|trans }}: {{ discount.name }}</div>
                    </div>
                    <div class="col-4 text-end">
                        -{{ discount.priceValue|format_currency("EUR") }}
                    </div>
                    {% endfor %}
                </div>
                
                {% endif %}
                {# TRANSPORT #}
                {% if basket.order.transport is not empty %}
                <div class="row">
                    <div class="col-8">
                        <div><strong>{{ basket.order.transport.name }}</strong></div>
                        {% if basket.order.transport.service == constant('SERVICE_MONDIAL_RELAY', basket.order.transport) %}
                        <div>
                            {% include '@TigrisShop/components/_mondial_relay_point.html.twig' with {'data': basket.order.transportServiceData} %}
                        </div>
                        {% endif %}
                    </div>
                    <div class="col-4 text-end">
                    {% if basket.order.transportPrice == 0 %}
                        <span class="free">{{ "shop.transport.free"|trans }}</span>
                    {% else %}
                        {{ basket.order.transportPrice|format_currency("EUR") }}
                    {% endif %}
                    </div>
                </div>
                {% endif %}
                {# /TRANSPORT #}
                <hr/>
                <div class="row">
                    <div class="col-8">
                        <div class="text-end"><strong>{{ 'shop.basket.total'|trans }}</strong></div>
                    </div>
                    <div class="col-4 text-end">
                        <strong>{{ basket.order.price|format_currency("EUR") }}</strong>
                    </div>
                </div>
                {% endif %}
            
        {% endfor %}
        <hr/>
        <div class="d-flex justify-content-between">
            <div>
                {% for name, method in paymentMethods %}
                    {% if not method.test or (method.test and is_granted('ROLE_ADMIN')) or app.debug %}
                        <a href="{{ path('tigris_shop_purchase_payment', {'type': name}) }}" class="btn btn-primary btn-{{ name }} btn-icon me-3">{{ ('shop.button.'~name)|trans|parse_icons }}{% if method.test %}
                        <br/>TEST !
                        {% endif %}</a>
                        
                    {% endif %}
                {% endfor %}
                {% set clickCollectconfig = configs.getGroupValue('TigrisShopBundle.clickcollect') %}
                {% if basket.order.transport is not empty and basket.order.transport.type == 'collect' and clickCollectconfig.payAtShop is defined and clickCollectconfig.payAtShop %}
                    <a href="{{ path('tigris_shop_purchase_paidatshop') }}" class="btn btn-secondary btn-icon">{{ 'shop.button.pay_at_shop'|trans|parse_icons }}</a>
                {% endif %}
            </div>
            <div>
                <h4>{{ 'shop.discount.code'|trans }}</h4>
                <tigris-shop-discount-code></tigris-shop-discount-code>
            </div>
        </div>
    {% endblock %}
    {% endembed %}
</div>
{% endblock %} 