{% embed '@TigrisBase/decorators/_form.html.twig' with {'formOptions': {'attr': {'novalidate':true}}} %}
    {% block body %}
    <div class="row">
        <div class="col-3">
            <div class="nav flex-column nav-pills" id="transportTabMenu" role="tablist">
                <a class="nav-link active" id="global-tab" data-bs-toggle="pill" data-bs-toggle="pill" href="#global" role="tab" aria-controls="global" aria-selected="true">
                    {{ 'shop.product.fieldset.global_settings'|trans|parse_icons }}
                    {% if not form.name.vars.valid %}
                        <span class="badge bg-danger float-right">{{ 'config.no_valid'|trans }}</span>
                    {% endif %}
                </a>
                <a class="nav-link" id="slots-tab" data-bs-toggle="pill" data-bs-toggle="pill" href="#slots" role="tab" aria-controls="slots" aria-selected="true">
                    {{ 'shop.product.fieldset.slots'|trans|parse_icons }}
                    {% if not form.slots.vars.valid %}
                        <span class="badge bg-danger float-right">{{ 'config.no_valid'|trans }}</span>
                    {% endif %}
                </a>
                <a class="nav-link" id="distance-tab" data-bs-toggle="pill" data-bs-toggle="pill" href="#distance" role="tab" aria-controls="distance" aria-selected="true">
                    {{ 'shop.product.fieldset.distance'|trans|parse_icons }}
                    {% if not form.maxDistance.vars.valid %}
                        <span class="badge bg-danger float-right">{{ 'config.no_valid'|trans }}</span>
                    {% endif %}
                </a>
            </div>
        </div>

        <div class="col-9">
            <div class="tab-content" id="productTab">
                <div class="tab-pane fade show active" id="global" role="tabpanel" aria-labelledby="global-tab">
                    <fieldset>
                        <legend class="col-form-label">{{ 'shop.product.fieldset.global_settings'|trans|parse_icons }}</legend>
                        {{ form_row(form.name) }}
                        {{ form_row(form.type) }}
                        {{ form_row(form.description) }}
                        
                        {{ form_row(form.countries) }}
                        {{ form_row(form.service) }}
                        
                    </fieldset>
                </div>
                <div class="tab-pane fade" id="slots" role="tabpanel" aria-labelledby="slots-tab">
                    <fieldset>
                        <legend class="col-form-label">{{ 'shop.product.fieldset.slots'|trans|parse_icons }}</legend>
                        {{ form_row(form.minPrice) }}
                        {{ form_row(form.freeAtPrice) }}
                        <hr/>
                        {{ form_row(form.slots) }}
                    </fieldset>
                </div>
                <div class="tab-pane fade" id="distance" role="tabpanel" aria-labelledby="distance-tab">
                    <fieldset>
                        <legend class="col-form-label">{{ 'shop.product.fieldset.distance'|trans|parse_icons }}</legend>
                        {{ form_row(form.maxDistance) }}
                        {{ form_row(form.address) }}
                        <div class="row">
                            <div class="col-sm-6 col-lg-4">
                                {{ form_row(form.lat) }}
                            </div>
                            <div class="col-sm-6 col-lg-4">
                                {{ form_row(form.lng) }}
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}
{% endembed %}