{% extends app.request.xmlHttpRequest 
    ? '@TigrisBase/admin/ajax-layout.html.twig'
    : '@TigrisBase/admin/layout.html.twig' %}
{% block title %}{{ 'shop.transport.edit.title'|trans }}{% endblock %}
{% block main %}
    {% include "@TigrisShop/admin/transport/_form.html.twig" %}
{% endblock %}