{% extends '@TigrisBase/admin/layout.html.twig' %}
{% block title %}{{ 'shop.transport.title'|trans }}{% endblock %}

{% block main %}
<tigris-data-list route="tigris_shop_admin_transport_data" v-slot="{loadData, entities, filters, totalCount, begin, end, sort}">
{% embed '@TigrisBase/decorators/_card.html.twig' with {'class': ''} %}
{% block header %}
<button-action v-on:formsaved="loadData()" route="tigris_shop_admin_transport_new" :route-params="{}" type="success" :modal="false">
    <span class="btn-label">{{ '.icon-plus'|parse_icons }}</span> {{ 'shop.transport.add.title'|trans }}
</button-action>
{% endblock %}
{% block table %}
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th><sort-item label="{{ 'name'|trans }}" value="name" v-on:change="sort"></sort-item></th>
                {#<th><sort-item label="{{ 'shop.transport.maxWidth'|trans }}" value="maxWidth" v-on:change="sort"></sort-item></th>
                <th><sort-item label="{{ 'shop.transport.maxHeight'|trans }}" value="maxHeight" v-on:change="sort"></sort-item></th>
                <th><sort-item label="{{ 'shop.transport.maxDepth'|trans }}" value="maxDepth" v-on:change="sort"></sort-item></th>#}
                <th><sort-item label="{{ 'shop.transport.maxWeight'|trans }}" value="maxWeight" v-on:change="sort"></sort-item></th>
                <th><sort-item label="{{ 'shop.transport.countries'|trans }}" value="countries" v-on:change="sort"></sort-item></th>
                <th><sort-item label="{{ 'shop.transport.max_distance'|trans }}" value="maxDistance" v-on:change="sort"></sort-item></th>
                <th><sort-item label="{{ 'shop.transport.service.label'|trans }}" value="service" v-on:change="sort"></sort-item></th>
                <th>{{ 'actions'|trans }}</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="entity in entities" :key="entity.id">
                <td><strong>${ entity.name }</strong></td>
                {#<td>${ entity.maxWidth }</td>
                <td>${ entity.maxHeight }</td>
                <td>${ entity.maxDepth }</td>#}
                <td>${ entity.maxWeight }</td>
                <td>
                    <span class="badge bg-secondary me-2" v-for="country in entity.countries" :key="country">${ country }</span>
                </td>
                <td><span v-if="entity.maxDistance > 0">${ entity.maxDistance }Km</span></td>
                <td>${ entity.service }</td>
                <td>
                    <div class="btn-group btn-group-sm">
                        <button-action v-on:formsaved="loadData()" route="tigris_shop_admin_transport_edit" :route-params="{id:entity.id}" type="light" :modal="false" title="{{ 'button.edit'|trans }}">{{ '.icon-pencil-alt'|parse_icons }}</button-action>
                        <button-action v-on:formsaved="loadData()" route="tigris_shop_admin_transport_remove" :route-params="{id:entity.id}" type="danger" :modal="true" title="{{ 'button.delete'|trans }}">{{ '.icon-trash'|parse_icons }}</button-action>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}
{% block footer %}
<div class="data-list-footer">
    <div>
        <em>{{ 'data_count'|trans({'%begin%':'${begin}', '%end%':'${end}', '%total%':'${totalCount}'}) }}</em>
    </div>
    <pagination></pagination>
</div>
{% endblock %}
{% endembed %}
</tigris-data-list>
{% endblock %}