{% extends app.request.xmlHttpRequest 
        ? '@TigrisBase/ajax-layout.html.twig'
        : '@TigrisBase/layout.html.twig' %}
{% block main %}
<div id="shop">
    <h1>{{ 'shop.title'|trans }}</h1>
    {% if rootCategories is not empty %}
    <nav class="root-categories">
        <ul class="nav nav-pills">
            {% for category in rootCategories %}
            <li class="nav-item">
                <a class="nav-link {% if app.request.get('_route_params').slug == category.slug %}active{% endif %}" href="{{ path('tigris_shop_shop_index', {'slug': category.slug }) }}">{{ category.name }}</a>
            </li>
            {% endfor %}
        </ul>
    </nav>
    {% endif %}
    {{ form_start(form) }}
    <div class="shop-index">
        <div class="row">
            <div class="col-lg-3 col-md-4">
                <div class="shop-filters">
                    {{ form_row(form.minPrice) }}
                    {{ form_row(form.maxPrice) }}
                    {{ form_row(form.categories) }}
                    {{ form_row(form.submitAction) }}
                </div>
            </div>

            <div class="col-lg-9 col-md-8">
                <div class="shop-filter-sort">{{ form_row(form.sortBy) }}</div>
                <div class="shop-article last-articles">
                    {% for product in products %}
                        {% include "@TigrisShop/product/_preview.html.twig" %}
                    {% else %}
                    <div class="alert alert-warning">{{ 'shop.product.no_product'|trans }}</div>
                    {% endfor %}
                </div>
                {% include '@TigrisBase/decorators/_pagination.html.twig' %}
            </div>
        </div>
    </div>
    {{ form_end(form) }}
</div>
{% endblock %}