{% extends '@TigrisBase/admin/layout.html.twig' %}
{% block title %}{{ 'shop.category.title'|trans }}{% endblock %}

{% block main %}
<tigris-data-list route="tigris_shop_admin_category_data" v-slot="{loadData, entities, filters, totalCount, begin, end, sort}">
{% embed '@TigrisBase/decorators/_card.html.twig' with {'class': ''} %}
{% block header %}
<button-action v-on:formsaved="loadData()" route="tigris_shop_admin_category_new" :route-params="{}" type="success" :modal="true">
    <span class="btn-label">{{ '.icon-plus'|parse_icons }}</span> {{ 'shop.category.add.title'|trans }}
</button-action>
<button-action v-on:formsaved="loadData()" route="tigris_shop_admin_category_sort" :modal="true" :route-params="{}" type="info">
    <span class="btn-label">{{ '.icon-sort'|parse_icons }}</span> {{ 'shop.category.sort.title'|trans }}
</button-action>
{% endblock %}
{% block table %}
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>{{ 'name'|trans }}</th>
                <th>{{ 'shop.category.public'|trans }}</th>
                <th>{{ 'actions'|trans }}</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="entity in entities" :key="entity.id">
                <td><strong>${ entity.name }</strong></td>
                <td class="text-light" :class="{'bg-danger': !entity.public, 'bg-success': entity.public}">
                    <span v-if="entity.public">{{ 'yes'|trans }}</span>
                    <span v-if="!entity.public">{{ 'no'|trans }}</span>
                </td>
                <td>
                    <div class="btn-group btn-group-sm">
                        <button-action v-on:formsaved="loadData()" route="tigris_shop_admin_category_edit" :route-params="{id:entity.id}" type="light" :modal="true">{{ '.icon-pencil-alt'|parse_icons }}</button-action>
                        <button-action v-on:formsaved="loadData()" route="tigris_shop_admin_category_remove" :route-params="{id:entity.id}" type="danger" :modal="true">{{ '.icon-trash'|parse_icons }}</button-action>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}
{% block footer %}
<div class="data-list-footer">
    <div>
        <em>{{ 'data_count'|trans({'%begin%':'${begin}', '%end%':'${end}', '%total%':'${totalCount}'}) }}</em>
    </div>
    <pagination></pagination>
</div>
{% endblock %}
{% endembed %}
</tigris-data-list>
{% endblock %}