{% extends app.request.xmlHttpRequest 
        ? '@TigrisBase/admin/ajax-layout.html.twig'
        : '@TigrisBase/admin/layout.html.twig' %}
{% block main %}
    {% embed '@TigrisBase/decorators/_form.html.twig' with {'class': ''} %}
        {% block title %}{{ 'shop.category.sort.title'|trans }}{% endblock %}

        {% block body %}
            <div class="text-info">{{ 'sort.sort_help'|trans }}</div>
            <div class="mt-4 p-1">
            {% import "@TigrisBase/utils/macros.html.twig" as utils %}
            {{ utils.entityTree(entities, {'ul_class': 'sortable', 'label_class': 'border p-1 mt-1 mb-1 d-block'}) }}
            </div>
        {% endblock %}
    {% endembed %}
{% endblock %}