{% extends '@TigrisBase/layout.html.twig' %}
{% block main %}
<div id="shop">
    <h1>{{ 'shop.purchase.delivery.mondial_relay.title'|trans }}</h1>
    {% embed '@TigrisBase/decorators/_form.html.twig' %}
    {% block body %}

    <div class="row">
        <div class="col-lg-3">{{ form_widget(form.postal_city.country) }}</div>
        <div class="col-lg-3">{{ form_widget(form.postal_city.postal) }}</div>
        <div class="col-lg-4">{{ form_widget(form.postal_city.city) }}</div>
        <div class="col-lg-2">
            <button type="button" id="mondial-search" class="btn btn-secondary">{{ 'button.search'|trans|parse_icons }}</button>
        </div>
    </div>
    
    {{ form_widget(form.relay) }}
    {% endblock %}
    {% endembed %}

</div>
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script>
    window.addEventListener('load', () => {  
        const searchButton = document.querySelector('#mondial-search');
        const cityInput = document.querySelector('#mondial_relay_postal_city_city');
        const postalInput = document.querySelector('#mondial_relay_postal_city_postal');
        const countryInput = document.querySelector('#mondial_relay_postal_city_country');
        const relaySelect = document.querySelector('.mondial-relay');
        const form = document.querySelector('form[name="mondial_relay"]');

        searchButton.addEventListener("click", (event) => {
            let data = {};
            data[cityInput.getAttribute('name')] = cityInput.value;
            data[postalInput.getAttribute('name')] = postalInput.value;
            data[countryInput.getAttribute('name')] = countryInput.value;
            const xmlHttp = new XMLHttpRequest();
            relaySelect.classList.add('loading');
            xmlHttp.onload = (response) => {
                let html = new DOMParser().parseFromString(response.target.responseText, "text/xml");
                let newRelaySelect = html.querySelector('.mondial-relay');
                relaySelect.innerHTML = newRelaySelect.innerHTML;
                relaySelect.classList.remove('loading');

            };
            xmlHttp.open('post', form.getAttribute('action').split('?')[0], true);
            xmlHttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
            xmlHttp.setRequestHeader('X-Requested-With', 'XMLHttpRequest');
            
            xmlHttp.send(new URLSearchParams(data).toString());
        });
    })
</script>
{% endblock %}