<div class="my-3">
    <tigris-data-list route="tigris_shop_ordermessage_data" :route-params="{id: {{ entity.id }} }" v-slot="{pageCount, loadData, entities, filters, totalCount, begin, end, sort, loading}">
    {% embed '@TigrisBase/decorators/_card.html.twig' %}
        {% block header %}
            {{ 'shop.order_message.messages'|trans }}
        {% endblock %} 

        {% block table %} 
        <div id="order-messages">
            <div v-if="loading">
                <div class="text-center">
                    <div class="spinner-grow spinner-grow-sm" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                </div>
            </div>
            <div class="order-message" v-for="entity in entities" :key="entity.id">
                <div class="order-message-author">
                    <div class="user-name">${ entity.author.fullName }</div>
                    <div class="message-date">
                        ${ $filters.formatDate(entity.createdAt) }
                    </div>
                </div>
                <div class="order-message-content">
                    ${ entity.content }
                </div>
            </div>
        </div>
        {% endblock %}

        {% block body_bottom %}
            <div v-if="pageCount > 1">
                <pagination></pagination>
            </div>
            <order-message-post token="{{ csrf_token('order-message-new') }}" :order-id="{{ entity.id }}" @post-success="() => { loadData() }"></order-message-post>
        {% endblock %}
    {% endembed %}
    </tigris-data-list>
</div>