{% extends app.request.xmlHttpRequest ? '@TigrisBase/admin/ajax-layout.html.twig' : '@TigrisBase/admin/layout.html.twig' %}
{% block main %}
    {% embed '@TigrisBase/decorators/_form.html.twig' with {'class': ''} %}
        {% block title %}{{ 'shop.order_message.remove.title'|trans }}{% endblock %}
        {% block body %}
        <p>{{ 'shop.order_message.remove.message'|raw }}</p>
        {% endblock %}
    {% endembed %}
{% endblock %}