{% embed '@TigrisBase/decorators/_form.html.twig' with {'formOptions': {'attr': {'novalidate':true}}} %}
    {% block body %}
        <div class="row">
            <div class="col-3">
                <div class="nav flex-column nav-pills" id="productTabMenu" role="tablist">
                    <a class="nav-link active" id="global-tab" data-bs-toggle="pill" data-bs-toggle="pill" data-target="#global" href="#global" role="tab" aria-controls="global" aria-selected="true">
                        {{ 'shop.product.fieldset.global_settings'|trans|parse_icons }}
                        {% if not form.name.vars.valid or not form.description.vars.valid %}
                            <span class="badge bg-danger float-right">{{ 'config.no_valid'|trans }}</span>
                        {% endif %}
                    </a>
                    {% if form.options is not empty %}
                    <a class="nav-link" id="product-options-tab" data-bs-toggle="pill" data-bs-toggle="pill" data-target="#product-options" href="#product-options" role="tab" aria-controls="product-options" aria-selected="true">
                        {{ 'shop.product.fieldset.options'|trans|parse_icons }}
                    </a>
                    {% endif %}
                    <a class="nav-link" id="product-categories-tab" data-bs-toggle="pill" data-bs-toggle="pill" data-target="#product-categories" href="#product-categories" role="tab" aria-controls="product-categories" aria-selected="true">
                        {{ 'shop.product.fieldset.categories'|trans|parse_icons }}
                    </a>
                    <a class="nav-link" id="product-price-tab" data-bs-toggle="pill" data-bs-toggle="pill" data-target="#product-price" href="#product-price" role="tab" aria-controls="product-price" aria-selected="true">
                        {{ 'shop.product.fieldset.price'|trans|parse_icons }}
                        {% if not form.price.vars.valid or not form.originalPrice.vars.valid %}
                            <span class="badge bg-danger float-right">{{ 'config.no_valid'|trans }}</span>
                        {% endif %}
                    </a>
                    <a class="nav-link" id="product-stock-tab" data-bs-toggle="pill" data-bs-toggle="pill" data-target="#product-stock" href="#product-stock" role="tab" aria-controls="product-stock" aria-selected="true">
                        {{ 'shop.product.fieldset.stock'|trans|parse_icons }}
                        {% if not form.quantity.vars.valid or not form.maxQuantity.vars.valid %}
                            <span class="badge bg-danger float-right">{{ 'config.no_valid'|trans }}</span>
                        {% endif %}
                    </a>
                    <a class="nav-link" id="product-delivery-tab" data-bs-toggle="pill" data-bs-toggle="pill" data-target="#product-delivery" href="#product-delivery" role="tab" aria-controls="product-delivery" aria-selected="true">
                        {{ 'shop.product.fieldset.delivery'|trans|parse_icons }}
                        {#{% if not form.quantity.vars.valid or not form.maxQuantity.vars.valid %}
                            <span class="badge bg-danger float-right">{{ 'config.no_valid'|trans }}</span>
                        {% endif %}#}
                    </a>
                    <a class="nav-link" id="product-available-tab" data-bs-toggle="pill" data-bs-toggle="pill" data-target="#product-available" href="#product-available" role="tab" aria-controls="product-available" aria-selected="true">
                        {{ 'shop.product.fieldset.availability'|trans|parse_icons }}
                    </a>
                    <a class="nav-link" id="product-images-tab" data-bs-toggle="pill" data-bs-toggle="pill" data-target="#product-images" href="#product-images" role="tab" aria-controls="product-images" aria-selected="true">
                        {{ 'shop.product.fieldset.images'|trans|parse_icons }}
                    </a>
                    <a class="nav-link" id="product-files-tab" data-bs-toggle="pill" data-bs-toggle="pill" data-target="#product-files" href="#product-files" role="tab" aria-controls="product-files" aria-selected="true">
                        {{ 'shop.product.fieldset.files'|trans|parse_icons }}
                    </a>
                </div>
            </div>
            <div class="col-9">
                <div class="tab-content" id="productTab">
                    <div class="tab-pane fade show active" id="global" role="tabpanel" aria-labelledby="global-tab">
                        <fieldset>
                            <legend class="col-form-label">{{ 'shop.product.fieldset.global_settings'|trans|parse_icons }}</legend>
                            {{ form_row(form.name) }}
                            {{ form_row(form.reference) }}
                            {{ form_row(form.public) }}
                            {{ form_row(form.type) }}
                            <hr/>
                            {{ form_row(form.description) }}
                        </fieldset>
                    </div>

                    {% if form.options is not empty %}
                    <div class="tab-pane fade" id="product-options" role="tabpanel" aria-labelledby="product-options-tab">
                        <fieldset>
                            <legend class="col-form-label">{{ 'shop.product.fieldset.options'|trans|parse_icons }}</legend>
                            {{ form_row(form.options) }}
                        </fieldset>
                    </div>
                    {% endif %}

                    <div class="tab-pane fade" id="product-categories" role="tabpanel" aria-labelledby="product-categories-tab">
                        <fieldset>
                            <legend class="col-form-label">{{ 'shop.product.fieldset.categories'|trans|parse_icons }}</legend>
                            {{ form_row(form.categories) }}
                        </fieldset>
                    </div>

                    <div class="tab-pane fade" id="product-price" role="tabpanel" aria-labelledby="product-price-tab">
                        <fieldset>
                            <legend class="col-form-label">{{ 'shop.product.fieldset.price'|trans|parse_icons }}</legend>
                            <div class="form-row">
                                <div class="col-md-3">
                                    {{ form_row(form.price) }}
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="col-md-3">
                                    {{ form_row(form.originalPrice) }}
                                </div>
                            </div>
                            
                            <div class="form-row">
                                <div class="col-md-3">
                                    {{ form_row(form.tax) }}
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <div class="tab-pane fade" id="product-stock" role="tabpanel" aria-labelledby="product-stock-tab">
                        <fieldset>
                            <legend class="col-form-label">{{ 'shop.product.fieldset.stock'|trans|parse_icons }}</legend>
                            {{ form_row(form.quantity) }}
                            {{ form_row(form.enableMaxQuantity) }}
                            {{ form_row(form.maxQuantity) }}
                        </fieldset>
                    </div>
                    <div class="tab-pane fade" id="product-delivery" role="tabpanel" aria-labelledby="product-delivery-tab">
                        <fieldset>
                            <legend class="col-form-label">{{ 'shop.product.fieldset.delivery'|trans|parse_icons }}</legend>
                            {#<div class="form-row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        {{ form_label(form.width) }}
                                        {{ form_errors(form.width) }}
                                        <div class="input-group has-spinner">
                                            
                                            <span class="input-group-text">cm</span>
                                            {{ form_widget(form.width) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        {{ form_label(form.height) }}
                                        {{ form_errors(form.height) }}
                                        <div class="input-group has-spinner">
                                            
                                            <span class="input-group-text">cm</span>
                                            {{ form_widget(form.height) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        {{ form_label(form.depth) }}
                                        {{ form_errors(form.depth) }}
                                        <div class="input-group has-spinner">

                                            <span class="input-group-text">cm</span>
                                            {{ form_widget(form.depth) }}
                                        </div>
                                    </div>
                                </div>
                            </div>#}
                            <div class="form-row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        {{ form_label(form.weight) }}
                                        {{ form_errors(form.weight) }}
                                        <div class="input-group has-spinner">
                                            <span class="input-group-text">kg</span>
                                            {{ form_widget(form.weight) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-4">
                                    {{ form_row(form.deliveryAddedPrice, {'money_pattern': '€ {{ widget }}'}) }}
                                    
                                </div>
                            </div>
                            {{ form_row(form.disableDeliveryPriceOnFreeShipping) }}
                            {{ form_row(form.useTransports) }}
                        </fieldset>
                    </div>
                    
                    <div class="tab-pane fade" id="product-available" role="tabpanel" aria-labelledby="product-available-tab">
                        <fieldset>
                            <legend class="col-form-label">{{ 'shop.product.fieldset.availability'|trans|parse_icons }}</legend>
                            {{ form_row(form.availableStatus) }}
                            {{ form_row(form.availableDate) }}
                            {{ form_row(form.preOrderDate) }}
                        </fieldset>
                    </div>

                    <div class="tab-pane fade" id="product-images" role="tabpanel" aria-labelledby="product-images-tab">
                        <fieldset>
                            <legend class="col-form-label">{{ 'shop.product.fieldset.images'|trans|parse_icons }}</legend>
                            {{ form_row(form.images) }}
                        </fieldset>
                    </div>

                    <div class="tab-pane fade" id="product-files" role="tabpanel" aria-labelledby="product-files-tab">
                        <fieldset>
                            <legend class="col-form-label">{{ 'shop.product.fieldset.files'|trans|parse_icons }}</legend>
                                {{ form_row(form.productFiles) }}
                        </fieldset>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}
{% endembed %}
    