{% extends app.request.xmlHttpRequest ? '@TigrisBase/admin/ajax-layout.html.twig': '@TigrisBase/admin/layout.html.twig' %}
{% block main %}
    {% embed '@TigrisBase/decorators/_form.html.twig' %}
        {% block title %}{{ 'shop.product.change_category.title'|trans }}{% endblock %}
        {% block body %}
        <ul class="list-group mb-2">
        {% for product in products %}
            <li class="list-group-item">{{ product }}</li>
        {% endfor %}
        </ul>
        {{ form(form) }}
        {% endblock %}
    {% endembed %}
{% endblock %}