{% extends '@TigrisBase/admin/layout.html.twig' %}
{% block title %}{{ 'shop.product.title'|trans }}{% endblock %}

{% block main %}
<tigris-data-list route="tigris_shop_admin_product_data" :init-filters="{search:'', categories:[], public:''}" :count-per-page="{{ criteria.count }}" :init-begin="{{ criteria.begin }}" update-route="tigris_shop_admin_product_changepart" v-slot="{loadData, entities, filters, totalCount, begin, end, sort, updateEntity, selectedItems, selectItem, loading}">
{% embed '@TigrisBase/decorators/_card.html.twig' with {'class': ''} %}
{% block header %}
<button-action @formsaved="loadData()" route="tigris_shop_admin_product_new" :route-params="{}" type="success" :modal="false">
    <span class="btn-label">{{ '.icon-plus'|parse_icons }}</span> {{ 'shop.product.add.title'|trans }}
</button-action>
<button-action route="tigris_base_admin_dataexporter_new" :route-params="{...filters, ...{exportType:'product'}}" type="outline-secondary" :modal="true">
        <span class="btn-label">{{ '.icon-download'|parse_icons }}</span> {{ 'user.export'|trans }}
    </button-action>
{% endblock %}
{% block body %}
<form class="d-flex justify-content-between align-items-center" method="get" action="">
    <div class="d-flex align-items-center">
        <search-filter v-model="filters.search" class="ms-2"></search-filter>

        <div class="form-group ms-2">
            <label class="form-label"><small>{{ 'shop.product.categories'|trans }}</small></label>
            <select class="form-control selectpicker" v-model="filters.categories" data-none-selected-text="{{ 'form.select.placeholder'|trans }}" multiple>
                {% for category in categories %}
                <option value="{{ category.id }}">{{ category.name }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="form-group ms-2">
            <label class="form-label"><small>{{ 'shop.product.status.label'|trans }}</small></label>
            <select class="form-control selectpicker" v-model="filters.public" data-none-selected-text="{{ 'form.select.placeholder'|trans }}">
                <option value="" selected>{{ 'shop.product.status.all'|trans }}</option>
                <option value="1">{{ 'shop.product.status.available'|trans }}</option>
                <option value="0">{{ 'shop.product.status.unavailable'|trans }}</option>
            </select>
        </div>
    </div>

    <div>
        <div class="form-group">
            <label><small>{{ 'results_per_page'|trans }}</small></label>
            <item-count-select></item-count-select>
        </div>
    </div>
</form>
{% endblock %}
{% block table %}
<table class="table table-striped" :class="{loading: loading}">
    <thead>
        <tr>
            <th style="width:50px"></th>
            <th><sort-item label="{{ 'name'|trans }}" value="name" @change="sort"></sort-item></th>
            <th><sort-item label="{{ 'shop.product.sale_count'|trans }}" value="saleCount" @change="sort"></sort-item></th>
            <th><sort-item label="{{ 'shop.product.created_at'|trans }}" value="createdAt" @change="sort"></sort-item></th>
            <th><sort-item label="{{ 'shop.product.quantity'|trans }}" value="quantity" @change="sort"></sort-item></th>
            <th><sort-item label="{{ 'shop.product.price'|trans }}" value="price" @change="sort"></sort-item></th>
            <th><sort-item label="{{ 'shop.product.status.label'|trans }}" value="public" @change="sort"></sort-item></th>
            <th>{{ 'actions'|trans }}</th>
            
        </tr>
    </thead>
    <tbody>
        <tr v-for="entity in entities" :key="entity.id">
            <td>
                <div class="form-check custom-control-inline m-0 form-check">
                    <input type="checkbox" class="form-check-input form-check-input select-item" :id="'select-product-' + entity.id" v-model="selectedItems" @change="(e) => { selectItem(entity.id, e.target.checked) }" :value="entity.id">
                    <label class="form-check-label form-check-label" :for="'select-product-' + entity.id"> </label>
                </div>
            </td>
            <td>
                <div class="d-flex">
                    <img v-if="entity.image" :src="'/'+entity.image.styleWebPath.thumbnail" :alt="entity.name" :style="{ width: '60px'}" class="me-1">
                    <div>
                        <strong>${ entity.name }</strong>
                        <div>
                            <span class="badge bg-secondary me-2" v-for="category in entity.categories" :key="category.id">${ category.name }</span>
                        </div>
                    </div>
                </div>
            </td>
            <td class="text-light bg-secondary">
                ${ entity.saleCount }
            </td>

            <td>${ $filters.formatDate(entity.createdAt, 'L') }</td>
            
            <td>
                <span class="badge bg-info" v-if="entity.type == 2">{{ 'shop.product.type_virtual'|trans }}</span>
                <div v-else>
                    <input 
                        type="number"
                        v-model.lazy.number="entity.quantity"
                        @change="updateEntity(entity.id)"
                        :id="'quantity-' + entity.id"
                        class="form-control focus-control"
                    >
                </div>
            </td>
            <td>
                <div>
                    <input 
                        type="number"
                        v-model.lazy.number="entity.price"
                        @change="updateEntity(entity.id)"
                        :id="'price-' + entity.id"
                        class="form-control focus-control"
                    >
                </div>
            </td>
            <td class="text-light" :class="{'bg-success': entity.public, 'bg-warning': !entity.public}">
                <div class="form-check form-switch">
                    <input 
                        type="checkbox" 
                        v-model="entity.public" 
                        @change="updateEntity(entity.id)" 
                        class="form-check-input" 
                        :id="'public-' + entity.id"
                    >
                    <label class="form-check-label" :for="'public-' + entity.id">
                        <small v-if="!entity.public">{{ 'shop.product.status.unavailable'|trans }}</small>
                        <small v-if="entity.public">{{ 'shop.product.status.available'|trans }}</small>
                    </label>
                </div>
            
            </td>
            <td>
                <div class="btn-group btn-group-sm">
                    <button-action @formsaved="loadData()" route="tigris_shop_admin_product_edit" :route-params="{id:entity.id}" type="light" :modal="false" title="{{ 'button.edit'|trans }}">{{ '.icon-pencil-alt'|parse_icons }}</button-action>
                    <button-action @formsaved="loadData()" route="tigris_shop_admin_product_copy" :route-params="{id:entity.id}" type="light" :modal="true" title="{{ 'shop.product.copy.title'|trans }}">{{ '.icon-copy'|parse_icons }}</button-action>
                    <button-action @formsaved="loadData()" route="tigris_shop_admin_product_remove" :route-params="{id:entity.id}" type="danger" :modal="true" title="{{ 'button.delete'|trans }}">{{ '.icon-trash'|parse_icons }}</button-action>
                </div>
            </td>
        </tr>
    </tbody>
</table>
{% endblock %}

{% block body_bottom %}
<div class="d-flex justify-content-start">
    <fieldset class="form-group">
        <label class="form-label"><small>{{ 'shop.product.selected'|trans }}</small></label>
        <div>
            <button-action class="btn-sm me-1" @formsaved="loadData()" route="tigris_shop_admin_product_changecategory" :route-params="{ids:selectedItems}" type="primary" :modal="true" :class="{disabled: selectedItems.length === 0}">{{ '.icon-tag'|parse_icons }}{{ 'shop.product.category_edit.title'|trans }}</button-action>
            <button-action class="btn-sm me-1" @formsaved="loadData()" route="tigris_shop_admin_product_removegroup" :route-params="{ids:selectedItems}" type="danger" :modal="true" :class="{disabled: selectedItems.length === 0}">{{ '.icon-trash'|parse_icons }} {{ 'button.delete'|trans }}</button-action>
        </div>
    </fieldset>
    
</div>
{% endblock %}

{% block footer %}
<div class="data-list-footer">
    <div>
        <em>{{ 'data_count'|trans({'%begin%':'${begin}', '%end%':'${end}', '%total%':'${totalCount}'}) }}</em>
    </div>
    <pagination></pagination>
</div>

{% endblock %}
{% endembed %}
</tigris-data-list>
{% endblock %}