{% extends app.request.xmlHttpRequest 
        ? '@TigrisBase/admin/ajax-layout.html.twig'
        : '@TigrisBase/admin/layout.html.twig' %}
{% block title %}{{ 'shop.product.add.title'|trans }}{% endblock %}
{% block main %}
    {% include '@TigrisShop/admin/product/_form.html.twig' %}
{% endblock %}