<address class="mondial-relay-address">
    {% if data is not empty %}
    <strong>{{ data.name }}</strong>
    <em>{{ data.id }}</em>
    <span>{{ data.address }}</span>
    <span>{{ data.postalCode }} {{ data.city }}</span>
    <span>{{ data.countryCode }}</span>
    {% endif %}
</address>