{% if service is not empty %}
<div class="d-flex justify-content-end">
    {% if service.tracingType == constant('TRACING_TYPE_URL', service) %}
    <a href="{{ service.getTracingUrl(code) }}" target="_blank" class="btn btn-sm btn-primary">{{ 'shop.transport.tracing.btn'|trans|parse_icons }}</a>
    {% elseif service.tracingType == constant('TRACING_TYPE_API', service) %}
    <button-action route="tigris_shop_transport_tracing" :route-params="{id: {{ entity.id }} }" type="primary" :modal="true">
        {{ 'shop.transport.tracing.btn'|trans|parse_icons }}
    </button-action>
    {% endif %}
</div>
{% endif %}