{% extends app.request.xmlHttpRequest 
        ? '@TigrisBase/ajax-layout.html.twig'
        : '@TigrisBase/layout.html.twig' %}
{% block main %}
<div id="shop">
    <h1>{{ 'shop.basket.title'|trans }}</h1>
    <div class="shop-basket">
        <div class="row">
            <div class="col-lg-10 basket-items">
                {% for basketProduct in basket.basketProducts %}
                <div class="row basket-item">
                    <div class="col-lg-8">
                        <div class="media">
                            {% if basketProduct.product.image is not empty %}
                            <img class="me-3 product-image" src="{{ asset(basketProduct.product.image.webPath('thumbnail')) }}" alt="{{ basketProduct.product.name }}">
                            {% endif %}
                            <div class="media-body">
                                <div class="product-title"><a href="{{ path('tigris_shop_product_show', {'slug':basketProduct.product.slug }) }}">{{ basketProduct.product.name }}</a></div>
                            
                                {% if basketProduct.product.discounts is not empty %}
                                {% for discount in basketProduct.product.discounts %}
                                    {% if discount.isValid(basketProduct.product, app.user) %}
                                    <div class="discount">
                                        <div class="old-price">{{ 'shop.discount.old_price'|trans }}: <span class="price">{{ basketProduct.product.price|format_currency("EUR") }}</span></div>
                                        <div class="new-price">{{ 'shop.discount.new_price'|trans }}: <span class="price">{{ discount.getNewPrice(basketProduct.product, app.user)|format_currency("EUR") }}</span></div>
                                        {% if discount.type == constant('DISCOUNT_TYPE_PERCENT', discount) %}
                                        <div class="value">{{ 'shop.discount.discount'|trans }}: <span class="price">{{ (discount.getDiscount(basketProduct.product, app.user))|format_currency("EUR") }}({{ discount.value }}%)</span></div>
                                        {% else %} 
                                        -{{ discount.value|format_currency("EUR") }}
                                        {% endif %}
                                    </div>
                                    {% endif %}
                                {% endfor %}
                                {% else %}
                                {{ 'shop.product.price'|trans }}: {{ basketProduct.product.price|format_currency("EUR") }}<br/>
                                {% endif %}
                                {% if (is_granted('buy', basketProduct.product)) %}
                                {{ 'shop.basket.quantity'|trans }}: 
                                {% endif %}
                                
                                <form method="post" action="{{ path('tigris_shop_basket_changequantity', {'id': basketProduct.product.id}) }}" class="form-inline">
                                    {% if (is_granted('buy', basketProduct.product)) %}
                                    <div class="input-group input-group-sm">
                                        <input type="number" class="form-control" name="quantity" value="{{ basketProduct.quantity }}" min="0" max="{{ basketProduct.product.maxQuantity }}">
                                        <div class="input-group-append">
                                            <button class="btn btn-outline-secondary" id="change-quantity-{{ loop.index }}" type="submit">{{ 'shop.basket.refresh_quantity'|trans|parse_icons }}</button>
                                        </div>
                                    </div>
                                    <input type="hidden" name="_token" value="{{ csrf_token('change-quantity' ~ basketProduct.product.id) }}"/>
                                    {% else %}
                                    <input type="hidden" name="quantity" value="0">
                                    <input type="hidden" name="_token" value="{{ csrf_token('change-quantity' ~ basketProduct.product.id) }}"/>
                                    <button class="btn btn-sm btn-outline-danger" type="submit">{{ 'shop.basket.delete_product'|trans|parse_icons }}</button>
                                    {% endif %}
                                </form>

                                {% if is_granted(constant('Tigris\\ShopBundle\\Security\\ShopVoter::GIFT_WRAPPING_OPTION')) %}
                                <tigris-shop-gift-wrapping-option :id="{{ basketProduct.product.id }}" csrf="{{ csrf_token('gift-wrapping-option-' ~ basketProduct.product.id) }}" :init-enabled="{{ basketProduct.hasGiftWrappingOption ? 'true' : 'false' }}">
                                    {% set price = (giftOptions['price'] is defined and giftOptions['price'] > 0 ? (giftOptions['price'] ~ '€') : 'Gratuit') %}
                                    {{ 'shop.gift.gift_wrapping'|trans({'%price%': price})|parse_icons }}
                                </tigris-shop-gift-wrapping-option>
                                {% endif %}
                            </div>
                        </div>
                        
                    </div>
                    <div class="col-lg-4">
                    {% if (is_granted('buy', basketProduct.product)) %}
                        {{ basketProduct.price(true, app.user)|format_currency("EUR") }}
                    {% else %}
                        <span class="text-danger">{{ 'shop.product.unavailable'|trans }}</span>
                    {% endif %}
                    </div>
                </div>
                {% if loop.last %}
                <div class="row">
                    <div class="col-lg-8">
                        <div class="text-right"><strong>{{ 'shop.basket.total'|trans }}</strong></div>
                    </div>
                    <div class="col-lg-4">
                        <strong>{{ basket.price(app.user)|format_currency("EUR") }}</strong>
                    </div>
                </div>
                {% endif %}
                {% else %}
                <div class="alert alert-warning">{{ 'shop.basket.empty'|trans }}</div>
                {% endfor %}
            </div>
            <div class="col-lg-2">
                {% if basket.basketProducts|length %}

                {% if basket.price > 0 %}
                <a class="btn btn-shop-buy btn-primary" href="{{ path('tigris_shop_purchase_index') }}">{{ 'shop.basket.buy'|trans }}</a>
                {% else %}
                <div class="btn btn-shop-buy btn-primary disabled">{{ 'shop.basket.buy'|trans }}</div>
                {% endif %}

                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}