{% if returnRoute is not defined %}
{% set returnRoute = 'tigris_shop_order_index' %}
{% endif %}
<div class="order-show" id="shop">
    <div class="d-flex justify-content-between align-items-center">
        {% if entity.orderInvoices|length > 0 %}
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdown-invoice" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{ 'shop.order.invoices'|trans }}
            </button>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdown-invoice">
                {% for orderInvoice in entity.orderInvoices %}
                <button-action route="tigris_invoice_invoice_show" :route-params="{'id': {{ orderInvoice.invoice.id }} }" :modal="true" class="dropdown-item" >{{ 'shop.order.invoice'|trans({"%n%": loop.index }) }}</button-action>
                {% endfor %}
            </div>
        </div>
        {% endif %}
    </div>
    {% embed '@TigrisBase/decorators/_card.html.twig' %}
    {% block header %}
    <div>
        <div class="order-label">{{ 'shop.order.date'|trans }}</div>
        {{ entity.createdAt|format_datetime('full', 'short') }}
    </div>
    <div>
        <div class="order-label">{{ 'shop.order.total'|trans }}</div>
        {{ entity.price|format_currency('EUR')}}
    </div>
    {% endblock %}
    {% block body %}
    <div class="order-addresses">
        
        {% if entity.orderAddress is not empty %}
        <address>
            {{ entity.orderAddress.toHtml|raw }}
        </address>
        {% endif %}
        <div>
        {% if entity.transport is not empty and entity.transport.service == 'mondial_relay' %}
            {% include '@TigrisShop/components/_mondial_relay_point.html.twig' with {'data': entity.transportServiceData} %}
        {% endif %}

        {% if entity.trackingNumber is not empty %}
            {% include '@TigrisShop/components/_tracing_button.html.twig' with {'service': transportService, 'code':entity.trackingNumber } %}
        {% endif %}
        </div>
    </div> 

    <div class="d-flex justify-content-between">
        <div>
            <h2>{{ 'shop.product.products'|trans }}</h2>
            {% for orderProduct in entity.orderProducts %}
            <div class="media product-item">
                <div class="media-body">
                    <h3>{{ orderProduct.name }}</h3>
                    {% if orderProduct.tax is not null %}
                    {{ 'shop.product.priceET'|trans }}: <strong>{{ orderProduct.ETPrice|format_currency("EUR") }}</strong><br/>
                    {{ orderProduct.tax }} <strong>{#{{ orderProduct.product.tax.value }}% #}</strong><br/>
                    {% endif %}
                    {{ 'shop.product.priceIT'|trans }}: <strong>{{ orderProduct.price|format_currency("EUR") }}</strong><br/>
                    {{ 'shop.basket.quantity'|trans }}: <strong>{{ orderProduct.quantity }}</strong><br/>
                    {% for discount in orderProduct.discounts %}
                    {{ discount.name }}: <strong>-{{ discount.value|format_currency("EUR") }}</strong><br/>
                    {% endfor %}
                    {% if orderProduct.hasGiftWrappingOption %}
                    {{ 'shop.gift.gift_options'|trans|parse_icons }}: <strong>{{ orderProduct.giftWrappingPrice|format_currency("EUR") }}</strong>
                    {% endif %}
                    {# {{ 'shop.product.priceIT'|trans }}:<strong>{{ orderProduct.price(true)|format_currency("EUR") }}</strong> #}
                </div>
            </div>
            {% endfor %}

            {% for orderDiscount in entity.discounts %}
            <div class="media discount-item">
                <div class="media-body">
                    <h3>{{ orderDiscount.name }}</h3>
                    <strong>-{{ orderDiscount.priceValue|format_currency("EUR") }}</strong>
                </div>
            </div>
            {% endfor %}

            {% if entity.transport is not empty %}
            <div class="media transport">
                <div class="media-body">
                    <h3>{{ entity.transport.name }}</h3>
                    {{ 'shop.product.price'|trans }}: <strong>{{ entity.transportPrice|format_currency("EUR") }}</strong>
                    
                </div>
            </div>
            {% endif %}
        </div>
        <div>
            <ul class="list-unstyled">
                <li>
                    {{ 'shop.order.status.label'|trans }} 
                    <span class="badge bg-{{ entity.status.colorType }}">{{ ('shop.order.status.'~entity.status)|trans }}</span>
                </li>
                <li>
                    {{ 'shop.order.payment_status'|trans }} 
                    <span class="badge bg-{{ entity.paymentStatus.colorType }}">{{ ('shop.order.status.'~entity.paymentStatus)|trans }}</span>
                </li>
                {% if entity.deliveryStatus is not empty %}
                <li>
                    {{ 'shop.order.shipping_status'|trans }} 
                    <span class="badge bg-{{ entity.deliveryStatus.colorType }}">{{ ('shop.order.status.'~entity.deliveryStatus)|trans }}</span>
                </li>
                {% endif %}
            </ul>
                
        </div>
    </div>

    {% endblock %}

    {% block footer %}
    <a class="btn btn-link" href="{{ path(returnRoute) }}">{{ '.icon-arrow-left'|parse_icons }} {{ 'button.return'|trans }}</a>
    {% endblock %}
    {% endembed %}
</div>