{% extends '@TigrisBase/user/my_account_layout.html.twig' %}

{% block content %}
<h1>{{ 'shop.order.user_title'|trans }}</h1>
<tigris-data-list route="tigris_shop_order_index" v-slot="{loadData, entities, filters, totalCount, begin, end, sort, loading}">
<div class="order-list">
    <div class="d-flex justify-content-between my-3">
        <div class="p-2">{{ 'data_count'|trans({'%begin%':'${begin}', '%end%':'${end}', '%total%':'${totalCount}'}) }}</div>
        <pagination></pagination>
    </div>

    <div v-for="entity in entities" :key="entity.id" class="card mb-3" v-cloak>
        <div class="card-body">
            <div class="row w-100">
            
                <div class="d-none d-md-block col-lg-2">
                    <div class="order-label d-inline-block d-lg-block">{{ 'shop.order.date'|trans }}</div>
                    ${ $filters.formatDate(entity.createdAt, 'LL') }
                </div>
                <div class="col-lg-2">
                    <div class="order-label d-inline-block d-lg-block">{{ 'shop.order.total'|trans }}</div>
                    ${ $filters.currency(entity.price) }
                </div>
                <div class="col-lg-2">
                    <div class="order-label d-inline-block d-lg-block">{{ 'shop.order.payment_status'|trans }}</div>
                    <span class="mx-1 badge" :class="'bg-' + entity.paymentStatus.colorType">${ entity.paymentStatus.trans }</span>
                </div>
                <div class="col-lg-2">
                    <div class="order-label d-inline-block d-lg-block">{{ 'shop.order.shipping_status'|trans }}</div>
                    <span class="mx-1 badge" :class="'bg-' + entity.deliveryStatus.colorType">${ entity.deliveryStatus.trans }</span>
                </div>
                <div class="col-lg-4 d-flex justify-content-end align-items-end">
                    <button-action v-if="entity.mainInvoice" class="btn-sm me-1" type="secondary" route="tigris_invoice_invoice_show" :route-params="{id: entity.mainInvoice.id }" :modal="true">{{ 'shop.order.invoice'|trans({"%n%": '' }) }}</button-action>

                    <button-action route="tigris_shop_order_show" class="btn-sm" :route-params="{id: entity.id}" :modal="false" type="primary">
                        <span class="d-none d-md-inline">
                        {{ 'shop.order.show'|trans|parse_icons }}
                        </span>
                        <span class=" d-md-none">
                        {{ '.icon-eye'|parse_icons }}
                        </span>
                        
                    </button-action>
                </div>
            </div>
        </div>
        
    </div>
    <div class="d-flex justify-content-between my-3">
        <div class="p-2">{{ 'data_count'|trans({'%begin%':'${begin}', '%end%':'${end}', '%total%':'${totalCount}'}) }}</div>
        <pagination></pagination>
    </div>
</div>
</tigris-data-list>
{% endblock %}