{% extends '@TigrisBase/layout.html.twig' %}

{% block title %}{{ 'shop.order.number'|trans({'%n%': entity.formattedNumber }) }}{% endblock %}
{% block main %}
<h1>{{ 'shop.order.number'|trans({'%n%': entity.formattedNumber }) }}</h1>
{% include '@TigrisShop/order/_details.html.twig' %}
{% include '@TigrisShop/order_message/_list.html.twig' %}

{% endblock %}