{% embed '@TigrisBase/decorators/_form.html.twig' with {'class': ''} %}
    {% block body %}
    <div class="row">
        <div class="col-3">
            <div class="nav flex-column nav-pills" id="discountTabMenu" role="tablist">
                <a class="nav-link active" id="global-tab" data-bs-toggle="pill" data-bs-toggle="pill" data-target="#global" href="#global" role="tab" aria-controls="global" aria-selected="true">
                    {{ 'shop.discount.fieldset.global_settings'|trans|parse_icons }}
                    {% if not form.name.vars.valid or not form.code.vars.valid or not form.description.vars.valid %}
                        <span class="badge bg-danger float-right">{{ 'config.no_valid'|trans }}</span>
                    {% endif %}
                </a>
                <a class="nav-link" id="actions-tab" data-bs-toggle="pill" data-bs-toggle="pill" data-target="#actions" href="#actions" role="tab" aria-controls="global" aria-selected="true">
                    {{ 'shop.discount.fieldset.actions'|trans|parse_icons }}
                    {% if not form.type.vars.valid or not form.value.vars.valid %}
                        <span class="badge bg-danger float-right">{{ 'config.no_valid'|trans }}</span>
                    {% endif %}
                </a>
                <a class="nav-link" id="dates-tab" data-bs-toggle="pill" data-bs-toggle="pill" data-target="#dates" href="#dates" role="tab" aria-controls="global" aria-selected="true">
                    {{ 'shop.discount.fieldset.dates'|trans|parse_icons }}
                    {% if not form.startDate.vars.valid or not form.startDate.vars.valid %}
                        <span class="badge bg-danger float-right">{{ 'config.no_valid'|trans }}</span>
                    {% endif %}
                </a>
                <a class="nav-link" id="rules-tab" data-bs-toggle="pill" data-bs-toggle="pill" data-target="#rules" href="#rules" role="tab" aria-controls="global" aria-selected="true">
                    {{ 'shop.discount.fieldset.rules'|trans|parse_icons }}
                    {% if not form.minPrice.vars.valid %}
                        <span class="badge bg-danger float-right">{{ 'config.no_valid'|trans }}</span>
                    {% endif %}
                </a>
            </div>
        </div>

        <div class="col-9">
            <div class="tab-content" id="discountTab">
                <div class="tab-pane fade show active" id="global" role="tabpanel" aria-labelledby="global-tab">
                    <fieldset>
                        <legend class="col-form-label">{{ 'shop.discount.fieldset.global_settings'|trans|parse_icons }}</legend>
                        {{ form_row(form.name) }}
                        {{ form_row(form.code) }}
                        {{ form_row(form.useCountLimit) }}
                        {{ form_row(form.enabled) }}
                        <hr/>
                        {{ form_row(form.description) }}
                    </fieldset>
                </div>

                <div class="tab-pane fade" id="dates" role="tabpanel" aria-labelledby="dates-tab">
                    <fieldset>
                        <legend class="col-form-label">{{ 'shop.discount.fieldset.dates'|trans|parse_icons }}</legend>
                        {{ form_row(form.startDate) }}
                        {{ form_row(form.endDate) }}
                    </fieldset>
                </div>

                <div class="tab-pane fade" id="rules" role="tabpanel" aria-labelledby="rules-tab">
                    <fieldset>
                        <legend class="col-form-label">{{ 'shop.discount.fieldset.rules'|trans|parse_icons }}</legend>
                        {{ form_row(form.itemType) }}
                        {{ form_row(form.products) }}
                        {{ form_row(form.categories) }}
                        {{ form_row(form.userGroups) }}
                        {{ form_row(form.users) }}
                        {{ form_row(form.minPrice) }}
                    </fieldset>
                </div>

                <div class="tab-pane fade" id="actions" role="tabpanel" aria-labelledby="actions-tab">
                    <fieldset>
                        <legend class="col-form-label">{{ 'shop.discount.fieldset.actions'|trans|parse_icons }}</legend>
                        {{ form_row(form.type) }}
                        {{ form_row(form.value) }}
                    </fieldset>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}
{% endembed %}
