{{ form_start(form) }}
<div class="row">
    <div class="col-md-9">
        {% embed '@TigrisBase/decorators/_card.html.twig' with {'class': 'mt-2'} %}
            {% block header %}{{ 'shop.discount.fieldset.global_settings'|trans|parse_icons }}{% endblock %}
            {% block body %}
            {{ form_row(form.name) }}
            {{ form_row(form.code) }}
            {{ form_row(form.useCountLimit) }}
            {{ form_row(form.enabled) }}
            <hr/>
            {{ form_row(form.description) }}
            {% endblock %}
        {% endembed %}

        {% embed '@TigrisBase/decorators/_card.html.twig' with {'class': 'mt-2'} %}
            {% block header %}{{ 'shop.discount.fieldset.rules'|trans|parse_icons }}{% endblock %}
            {% block body %}
            {{ form_row(form.itemType) }}
            {{ form_row(form.products) }}
            {{ form_row(form.categories) }}
            {{ form_row(form.userGroups) }}
            {{ form_row(form.users) }}
            {{ form_row(form.minPrice) }}
            {% endblock %}
        {% endembed %}
    </div>
    <div class="col-md-3">
        {% embed '@TigrisBase/decorators/_card.html.twig' with {'class': 'mt-2'} %}
            {% block header %}{{ 'shop.discount.fieldset.dates'|trans|parse_icons }}{% endblock %}
            {% block body %}
            {{ form_row(form.startDate) }}
            {{ form_row(form.endDate) }}
            {% endblock %}
        {% endembed %}

        {% embed '@TigrisBase/decorators/_card.html.twig' with {'class': 'mt-2'} %}
            {% block header %}{{ 'shop.discount.fieldset.actions'|trans|parse_icons }}{% endblock %}
            {% block body %}
            {{ form_row(form.type) }}
            {{ form_row(form.value) }}
            {% endblock %}
        {% endembed %}
        
        {% embed '@TigrisBase/decorators/_card.html.twig' with {'class': 'mt-2'} %}
            
            {% block body %}
            {{ form_widget(form.actions) }}
            {% endblock %}
        {% endembed %}
    </div>
</div>
{{ form_end(form) }}