{% extends app.request.xmlHttpRequest ? '@TigrisBase/admin/ajax-layout.html.twig': '@TigrisBase/admin/layout.html.twig' %}
{% block title %}{{ 'shop.discount.edit.title'|trans }}{% endblock %}
{% block main %}
     {{ include("@TigrisShop/admin/discount/_form.html.twig") }}
{% endblock %}