{% extends '@TigrisBase/admin/layout.html.twig' %}
{% block title %}{{ 'shop.discount.title'|trans|parse_icons }}{% endblock %}

{% block main %}
<tigris-data-list route="tigris_shop_admin_discount_data" v-slot="{loadData, entities, filters, totalCount, begin, end, sort}">
{% embed '@TigrisBase/decorators/_card.html.twig' with {'class': ''} %}
{% block header %}
<button-action v-on:formsaved="loadData()" route="tigris_shop_admin_discount_new" :init-filters='{"search":"", "itemType":"", validity: ""}' :route-params="{}" type="success" :modal="false">
    <span class="btn-label">{{ '.icon-plus'|parse_icons }}</span> {{ 'shop.discount.add.title'|trans }}
</button-action>
{% endblock %}

{% block body %}
<form class="d-flex justify-content-between" mathod="get" action="">
    <div class="d-flex">
        <div class="form-group ms-2">
            <label class="form-label"><small>{{ 'user.search'|trans }}</small></label>
            <div class="input-group ">
                <span class="input-group-text">{{ '.icon-search'|parse_icons }}</span>
                <input type="text" class="form-control" v-model="filters.search"/>
            </div>
        </div>

        <div class="form-group ms-2">
            <label for="" class="form-label"><small>{{ 'shop.discount.item_type.label'|trans }}</small></label>
            <select class="form-control" v-model="filters.itemType" data-none-selected-text="{{ 'form.select.placeholder'|trans }}">
                <option value="" selected>{{ 'all'|trans }}</option>
                <option value="products">{{ 'shop.discount.item_type.products'|trans }}</option>
                <option value="categories">{{ 'shop.discount.item_type.categories'|trans }}</option>
                <option value="order">{{ 'shop.discount.item_type.order'|trans }}</option>
            </select>
        </div>

        <div class="form-group ms-2">
            <label for="" class="form-label"><small>{{ 'shop.discount.valid_dates'|trans }}</small></label>
            <select class="form-control" v-model="filters.validity" data-none-selected-text="{{ 'form.select.placeholder'|trans }}">
                <option value="" selected>{{ 'all'|trans }}</option>
                <option value="valid">{{ 'shop.discount.validity.valid'|trans }}</option>
                <option value="futur">{{ 'shop.discount.validity.futur'|trans }}</option>
                <option value="expired">{{ 'shop.discount.validity.expired'|trans }}</option>
            </select>
        </div>
    </div>

    <div>
        <div class="form-group">
            <label><small>{{ 'results_per_page'|trans }}</small></label>
            <item-count-select></item-count-select>
        </div>
    </div>
</form>
{% endblock %}

{% block table %}
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>{{ 'shop.discount.name'|trans }}</th>
                <th>{{ 'shop.discount.type.label'|trans }}</th>
                <th>{{ 'shop.discount.value'|trans }}</th>
                <th>{{ 'shop.discount.enabled'|trans }}</th>
                <th>{{ 'shop.discount.code'|trans }}</th>
                <th>{{ 'shop.discount.item_type.label'|trans }}</th>
                <th>{{ 'shop.discount.user_groups'|trans }}</th>
                <th><sort-item label="{{ 'shop.discount.valid_dates'|trans }}" value="endDate" v-on:change="sort"></sort-item></th>
                <th><sort-item label="{{ 'shop.discount.use_count'|trans }}" value="useCount" v-on:change="sort"></sort-item></th>
                <th>{{ 'actions'|trans }}</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="entity in entities" :key="entity.id">
                <td><strong>${ entity.name }</strong></td>
                <td>
                    <span v-if="entity.type === 'new price'">{{ 'shop.discount.type.new_price'|trans }}</span>
                    <span v-if="entity.type === 'value'">{{ 'shop.discount.type.value'|trans }}</span>
                    <span v-if="entity.type === 'percent'">{{ 'shop.discount.type.percent'|trans }}</span>
                </td>
                <td>
                    ${ entity.formattedValue }
                </td>
                <td class="text-light" :class="{'bg-danger': !entity.enabled, 'bg-success': entity.enabled}">
                    <span v-if="entity.enabled">{{ 'yes'|trans }}</span>
                    <span v-if="!entity.enabled">{{ 'no'|trans }}</span>
                </td>
                <td>
                    ${ entity.code }
                </td>
                <td>
                    <span v-if="entity.itemType === 'products'">{{ 'shop.discount.item_type.products'|trans }}</span>
                    <span v-if="entity.itemType === 'categories'">{{ 'shop.discount.item_type.categories'|trans }}</span>
                    <span v-if="entity.itemType === 'all_products'">{{ 'shop.discount.item_type.all_products'|trans }}</span>
                    <span v-if="entity.itemType === 'order'">{{ 'shop.discount.item_type.order'|trans }}</span>
                </td>
                <td>
                    <span class="badge bg-primary me-2" v-for="group in entity.userGroups">${group.name}</span>
                </td>
                <td>
                    ${ $filters.formatDate(entity.startDate, 'L') } <span v-if="entity.endDate !== null"> - ${ $filters.formatDate(entity.endDate, 'L') }</span>
                </td>
                <td class="text-light bg-secondary">
                    ${ entity.useCount }
                </td>
                <td>
                    <div class="btn-group btn-group-sm ms-auto">
                        <button-action v-if="entity.code !== null" route="tigris_shop_admin_discount_printcode" target="_blank" :route-params="{id:entity.id}" type="light" :modal="false" title="{{ 'shop.discount.print_code'|trans }}">{{ '.icon-print'|parse_icons }}</button-action>
                        <button-action v-on:formsaved="loadData()" route="tigris_shop_admin_discount_edit" :route-params="{id:entity.id}" type="light" :modal="false" title="{{ 'button.edit'|trans }}">{{ '.icon-pencil-alt'|parse_icons }}</button-action>
                        <button-action v-on:formsaved="loadData()" route="tigris_shop_admin_discount_remove" :route-params="{id:entity.id}" type="danger" :modal="true" title="{{ 'button.delete'|trans }}">{{ '.icon-trash'|parse_icons }}</button-action>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}
{% block footer %}
<div class="d-flex justify-content-between align-items-center">
    <div>
        <em>{{ 'data_count'|trans({'%begin%':'${begin}', '%end%':'${end}', '%total%':'${totalCount}'}) }}</em>
    </div>
    <pagination></pagination>
</div>
{% endblock %}
{% endembed %}
</tigris-data-list>
{% endblock %}