{% extends app.request.xmlHttpRequest ? '@TigrisBase/admin/ajax-layout.html.twig': '@TigrisBase/admin/layout.html.twig' %}
{% block title %}{{ 'shop.discount.remove.title'|trans }}{% endblock %}
{% block main %}
    {% embed '@TigrisBase/decorators/_form.html.twig'  with {'type': 'danger'} %}
    {% block body %}
        <p>{{ 'shop.discount.remove.message'|trans }}</p>
    {% endblock %}
    {% endembed %}
{% endblock %}