

<div class="row">
    <div class="col-md-2">{{ form_row(form.civility) }}</div>
    <div class="col-md-5">{{ form_row(form.name) }}</div>
    <div class="col-md-5">{{ form_row(form.firstname) }}</div>
</div>
{{ form_row(form.phone) }}
{{ form_row(form.search) }}
{{ form_row(form.country) }}
<div class="row">
    <div class="col-md-4">{{ form_row(form.postal) }}</div>
    <div class="col-md-8">{{ form_row(form.city) }}</div>
</div>
{{ form_row(form.line1) }}
{{ form_row(form.lng) }}
{{ form_row(form.lat) }}
