{% extends app.request.xmlHttpRequest 
        ? '@TigrisBase/ajax-layout.html.twig'
        : '@TigrisBase/layout.html.twig' %}
{% block main %}
    {% embed '@TigrisBase/decorators/_form.html.twig' with {'class': ''} %}
        {% block title %}{{ 'shop.address.add.title'|trans }}{% endblock %}
        {% block body %}
             {% include('@TigrisShop/address/_form.html.twig') %}
        {% endblock %}
    {% endembed %}
{% endblock %}