{% extends app.request.xmlHttpRequest 
        ? '@TigrisBase/admin/ajax-layout.html.twig'
        : '@TigrisBase/admin/layout.html.twig' %}
{% block main %}
    {% embed '@TigrisBase/decorators/_form.html.twig' with {'class': ''} %}
        {% block title %}{{ 'shop.address.delete.title'|trans }}{% endblock %}
        {% block body %}
        <p>{{ 'shop.address.delete.message'|trans({'%entity%': entity.name})|raw }}</p>
        {% endblock %}
    {% endembed %}
{% endblock %}