{% extends "@TigrisBase/email/layout.html.twig" %}

{% block content %}
<b>{{ "email.admin_order.title"|trans }}</b>

<p>{{ "email.admin_order.content"|trans }}</p>
<ul>
    <li>{{ 'shop.order.payment_status'|trans }}: <strong>{% if order.paymentStatus == 'paid' %}{{ 'shop.order.status.paid'|trans }}{% else %}{{ 'shop.order.status.new'|trans }}{% endif %}<strong></li>
</ul>
<table role="presentation" border="0" cellpadding="0" cellspacing="0" class="btn btn-primary">
    <tbody>
        <tr>
            <td align="left">
                <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                    <tbody>
                        <tr>
                            <td>
                                <a href="{{ url('tigris_shop_admin_order_show', {'id': order.id}) }}">{{ "email.admin_order.button"|trans }}</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>
{% endblock %}