{% extends "@TigrisBase/email/layout.html.twig" %}

{% block content %}
<b>{{ "email.available.title"|trans }}</b>

<p>{{ "email.available.content"|trans({'%n%': entity.id|strPad(6, '0', 0) }) }}</p>
{% if config.address is defined or config.infos is defined %}
<div style="padding: 8px; background-color: #eee; border-radius: 6px">
{% if config.address is defined %}
<address>
    {{ config.address }}
</address>
{% endif %}
{% if config.infos is defined %}
{{ config.infos|raw }}
{% endif %}
</div><br/>
{% endif %}

<table role="presentation" border="0" cellpadding="0" cellspacing="0" class="btn btn-primary">
    <tbody>
        <tr>
            <td align="left">
                <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                    <tbody>
                        <tr>
                            <td>
                                <a href="{{ url('tigris_shop_order_show', {'id': entity.id}) }}">{{ "email.available.button"|trans }}</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>
{% endblock %}