{% extends "@TigrisBase/email/layout.html.twig" %}

{% block content %}
<b>{{ "email.order.title"|trans }}</b>

<p>{{ "email.order.content"|trans }}</p>
<table role="presentation" border="0" cellpadding="0" cellspacing="0" class="btn btn-primary">
    <tbody>
        <tr>
            <td align="left">
                <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                    <tbody>
                        <tr>
                            <td>
                                <a href="{{ url('tigris_shop_order_show', {'id': order.id}) }}">{{ "email.order.button"|trans }}</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>
{% endblock %}