{% extends "@TigrisBase/email/layout.html.twig" %}

{% block content %}
<b>{{ "email.shipped.title"|trans }}</b>

<p>{{ "email.shipped.content"|trans({'%n%': entity.id|strPad(5, '0', 0) }) }}</p>
<table role="presentation" border="0" cellpadding="0" cellspacing="0" class="btn btn-primary">
    <tbody>
        <tr>
            <td align="left">
                <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                    <tbody>
                        <tr>
                            <td>
                                <a href="{{ url('tigris_shop_order_show', {'id': entity.id}) }}">{{ "email.shipped.button"|trans }}</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>
{% endblock %}